{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://www.movincloud.com:8000","description":"Generated server url"}],"paths":{"/resources/{id}":{"put":{"tags":["resources-controller"],"summary":"Update a resource","operationId":"updateResource","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[a-fA-F0-9]{24}$"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}}}},"delete":{"tags":["resources-controller"],"summary":"Delete CMP Catalog Resource","operationId":"deleteResource","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[a-fA-F0-9]{24}$"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"}}}},"/upload/excelSkuCatalogue/{provider}":{"post":{"tags":["upload-controller"],"summary":"Imports a new skus catalogue","operationId":"uploadFile","parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]}},{"name":"date","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"},"mapping":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadResponseBean"}}}}}}},"/upload/excelResourceCatalogue/{provider}":{"post":{"tags":["upload-controller"],"summary":"Imports a new resources catalogue","operationId":"excelResourceCatalogue","parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]}},{"name":"date","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"},"mapping":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadResponseBean"}}}}}}},"/resources":{"get":{"tags":["resources-controller"],"summary":"Get a list of resources using multiple filters","operationId":"findAll","parameters":[{"name":"properties","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"taxonomies","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"tags","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemTypes","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"scope","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"types","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}},"post":{"tags":["resources-controller"],"summary":"Create a new resource","operationId":"createResource","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}}}}},"/resources/{id}/edittags":{"post":{"tags":["resources-controller"],"summary":"Add tags or notes to a specified resource using its object id","operationId":"addCmpManagedTagsAndNotes","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"tags","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"notes","in":"query","required":false,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}}}}},"/resources/skus":{"get":{"tags":["resources-controller"],"summary":"Gets skus catalog","operationId":"getCMPSkuCatalog","parameters":[{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"textRegex","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"tags","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemTypes","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"serviceNames","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"skuIds","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}},"post":{"tags":["resources-controller"],"summary":"Upserts a CMP catalog sku","operationId":"upsertCMPSku","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceDTO"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"}}}},"/dashboard/tables/update":{"post":{"tags":["Table Column Controller"],"operationId":"updateOrderColumns","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableColumns"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"boolean"}}}}}}}},"/upload/cataloguelist":{"get":{"tags":["upload-controller"],"summary":"Gets a list of catalogue","operationId":"cataloguelist","parameters":[{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"systemType","in":"query","required":false,"schema":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PROGRESS","SUCCESS","FAILED","DELETED","FUTURE"]}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/upload/cataloguelist/{uuid}":{"get":{"tags":["upload-controller"],"summary":"Gets a catalogue by uuid","operationId":"getcatalogue","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogueBean"}}}}}}},"/systems/types":{"get":{"tags":["system-controller"],"summary":"Get Sub-Systems Types","operationId":"getSystemTypes","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/systems/infos":{"get":{"tags":["system-controller"],"summary":"Get Sub-Systems Informations","operationId":"getSystemsInfos","parameters":[{"name":"areByDate","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/System"}}}}}}}},"/resourcesstats/dashboard/{type}":{"get":{"tags":["resources-statistics-controller"],"summary":"Get a list of resources using multiple filters","operationId":"getDashBoard","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DashBoardDetails"}}}}}}},"/resourcesstats/dashboard/{type}/{tag}":{"get":{"tags":["resources-statistics-controller"],"summary":"Get a list of resources using multiple filters","operationId":"getDashBoard_1","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"tag","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DashBoardDetails"}}}}}}},"/resourcesstats/cluster/{uuid}":{"get":{"tags":["resources-statistics-controller"],"summary":"Get cluster statistics by UUID","operationId":"getClusterStats","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClusterStatsBean"}}}}}}},"/resourcesstats/cluster/{uuid}/pods/running":{"get":{"tags":["resources-statistics-controller"],"summary":"Get cluster running pods statistics by UUID","operationId":"getClusterRunningPodsStats","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RunningPodsStats"}}}}}}}},"/resourcesstats/bytype/{type}":{"get":{"tags":["resources-statistics-controller"],"summary":"Get a list of resources using multiple filters","operationId":"findAll_1","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StatsBean"}}}}}}},"/resources/{uuid}/relations":{"get":{"tags":["resources-controller"],"summary":"Get a list of typed resource childs from uuid of parent resource","operationId":"findRelations","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"connectedType","in":"query","required":true,"schema":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE"]}},{"name":"connectedSubType","in":"query","required":false,"schema":{"type":"string","enum":["APPLICATIONGATEWAY","CDNFRONTDOOR","LOADBALANCER","LOCALNETWORKGATEWAY","NETWORKINTERFACE","NETWORKSECURITYGROUP","PUBLICIP","VIRTUALNETWORK","VIRTUALNETWORKGATEWAY","CONNECTION","APPLICATIONSECURITYGROUP","WEBAPPLICATIONFIREWALL","BASTION","FIREWALL","FIREWALLPOLICY"]}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ComponentDetail"}}}}}}}},"/resources/{uid}":{"get":{"tags":["resources-controller"],"summary":"Get a resources by his unique id","operationId":"findById","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}}}}},"/resources/{id}/graph":{"get":{"tags":["resources-controller"],"summary":"Get a resources by his unique id, including the detail of his relations","operationId":"graphQuery","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"maxDepth","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceGraphDTO"}}}}}}},"/resources/v2/skus":{"get":{"tags":["resources-controller-v-2"],"summary":"Gets skus catalog","operationId":"getCMPSkuCatalog_1","parameters":[{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"textRegex","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"tags","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemTypes","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"serviceNames","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"skuIds","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/resources/v2/skus/minimal":{"get":{"tags":["resources-controller-v-2"],"summary":"Get a list of minimal skus using multiple filters","operationId":"findMinimalSku","parameters":[{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"textRegex","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"tags","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemTypes","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"serviceNames","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/resources/types/{type}":{"get":{"tags":["resources-controller"],"summary":"Get a list of resources of a certain type","operationId":"findByType","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"scope","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"tags","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/resources/types/{type}/{subType}":{"get":{"tags":["resources-controller"],"summary":"Get a list of resources of a certain type","operationId":"findByType_1","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"subType","in":"path","required":true,"schema":{"type":"string"}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"scope","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"tags","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/resources/systems/{systemType}/{systemUuid}/**":{"get":{"tags":["resources-controller"],"summary":"Get a resources by Provider, SystemUuid and Uuid","operationId":"findByProviderAndSystemUuidAndUuid","parameters":[{"name":"systemType","in":"path","required":true,"schema":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]}},{"name":"systemUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}}}}},"/resources/subscriptions":{"get":{"tags":["resources-controller"],"summary":"Get a list of subscriptions","operationId":"getSubscriptions","parameters":[{"name":"tags","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"subType","in":"query","required":false,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/resources/stats":{"get":{"tags":["resources-controller"],"summary":"Get resources statistics","operationId":"getStatistics","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Statistics"}}}}}}},"/resources/skus/{id}":{"get":{"tags":["resources-controller"],"summary":"Gets catalog sku by unique id","operationId":"getCMPSku","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}}}}},"/resources/skus/{id}/edittags":{"get":{"tags":["resources-controller"],"summary":"Add tags or notes to a specified sku using its uuid","operationId":"addTagsAndNotesToSku","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"tags","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"notes","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"}}}},"/resources/skus/services":{"get":{"tags":["resources-controller"],"summary":"Gets sku service names by system type","operationId":"getSkuServiceNames","parameters":[{"name":"systemTypes","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/resources/skus/minimal":{"get":{"tags":["resources-controller"],"summary":"Get a list of minimal skus using multiple filters","operationId":"findMinimalSku_1","parameters":[{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"textRegex","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"tags","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemTypes","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"serviceNames","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/resources/scope/{scope}":{"get":{"tags":["resources-controller"],"summary":"Get a list of resources of a certain type","operationId":"findByScope","parameters":[{"name":"scope","in":"path","required":true,"schema":{"type":"string"}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Resource"}}}}}}}},"/resources/providertags/{id}":{"get":{"tags":["resources-controller"],"summary":"Get provider tags for a resource by Id","operationId":"getProviderTagsById","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/resources/properties":{"get":{"tags":["resources-controller"],"summary":"Get a list of resources that have specific properties","operationId":"findByProperties","parameters":[{"name":"queryParams","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Resource"}}}}}}}},"/resources/minimal":{"get":{"tags":["resources-controller"],"summary":"Get a list of minimal resources using multiple filters","operationId":"findMinimal","parameters":[{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"textRegex","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"tags","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"scope","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"type","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"subType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"confidential","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"systemTypes","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemUuids","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/resources/minimal/graph":{"get":{"tags":["resources-controller"],"summary":"Get an aggregated result of minimal resources using multiple filters","operationId":"aggregateMinimalGraph","parameters":[{"name":"aggregationInfo","in":"query","required":true,"schema":{"type":"string"}},{"name":"textRegex","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"tags","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"scope","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"type","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"subType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"confidential","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"systemTypes","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemUuids","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}}}}}},"/resources/k8s/{uuid}/namespace/{name}":{"get":{"tags":["resources-controller"],"summary":"Get a list of namespaced resources","operationId":"findNamespacedAll","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Resource"}}}}}}}},"/resources/id":{"get":{"tags":["resources-controller"],"summary":"Get a resource id by his unique uuid","operationId":"getIdByUuid","parameters":[{"name":"uuid","in":"query","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/resources/cmpmanagedtags/{id}":{"get":{"tags":["resources-controller"],"summary":"Get cmp managed tags for a resource by Id","operationId":"getCmpManagedTagsById","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/resources/alltags":{"get":{"tags":["resources-controller"],"summary":"Get all tags","operationId":"getAllTags","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceTag"}}}}}}}},"/on-premise":{"get":{"tags":["on-premise-controller"],"summary":"Get a list of on-premise systems","operationId":"findOnPremiseSystems","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OnPremiseSystem"}}}}}}}},"/on-premise/{systemUuid}":{"get":{"tags":["on-premise-controller"],"summary":"Get on-premise by system uuid","operationId":"findOnPremiseBySystem","parameters":[{"name":"systemUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OnPremiseSystem"}}}}}}},"/dashboard/tables/getColumnTable/{tableName}":{"get":{"tags":["Table Column Controller"],"operationId":"getOrderColumns","parameters":[{"name":"tableName","in":"path","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}},"/dashboard/resources/scope/{scope}/{system}":{"get":{"tags":["Dashboard Resource Controller"],"summary":"frontend friendly list of resources by scope and type","description":"Get a list of resources of a certain scope and type in a friendly format for the dashboard on frontend","operationId":"findByScope_1","parameters":[{"name":"scope","in":"path","required":true,"schema":{"type":"string"}},{"name":"system","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DashBoardResource"}}}}}}}},"/upload/cataloguelist/delete/{uuid}":{"delete":{"tags":["upload-controller"],"summary":"Deletes a catalogue by uuid","operationId":"deletecataloguelist","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/systems/{systemUuid}":{"delete":{"tags":["system-controller"],"summary":"Delete all assets by system uuid","operationId":"deleteBySystemUuid","parameters":[{"name":"systemUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"}}}},"/resources/skus/{uuid}":{"delete":{"tags":["resources-controller"],"summary":"Deletes a catalog sku by uuid","operationId":"deleteCMPSku","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"}}},"PriceBean":{"type":"object","properties":{"type":{"type":"string","enum":["RESERVATION","CONSUMPTION","PREEMPTIVE","DEVTESTCONSUMPTION","ON_PREMISES"]},"amount":{"type":"number","format":"double"},"unit":{"type":"string"},"os":{"type":"string","enum":["WINDOWS","LINUX"]},"zone":{"type":"string"},"reservationTerm":{"type":"string"},"currencyCode":{"type":"string"},"description":{"type":"string"},"meterId":{"type":"string"},"tierMinimumUnits":{"type":"number","format":"double"}}},"Region":{"type":"object","properties":{"zone":{"type":"array","items":{"type":"string"}},"name":{"type":"string"},"id":{"type":"string"},"description":{"type":"string"},"link":{"type":"string"},"prices":{"type":"array","items":{"$ref":"#/components/schemas/PriceBean"}},"extraPrices":{"type":"array","items":{"$ref":"#/components/schemas/PriceBean"}}}},"Relation":{"type":"object","properties":{"id":{"type":"string"},"relationType":{"type":"string","enum":["CHILD","PARENT","ASSIGNED","ASSIGNEE","INSTANCE","INSTANCEOF"]},"taxonomyVersion":{"type":"integer","format":"int64"},"taxonomyReleaseVersion":{"type":"integer","format":"int64"},"taxonomyName":{"type":"string"},"replicas":{"type":"integer","format":"int32"},"type":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE"]},"subType":{"type":"string","enum":["APPLICATIONGATEWAY","CDNFRONTDOOR","LOADBALANCER","LOCALNETWORKGATEWAY","NETWORKINTERFACE","NETWORKSECURITYGROUP","PUBLICIP","VIRTUALNETWORK","VIRTUALNETWORKGATEWAY","CONNECTION","APPLICATIONSECURITYGROUP","WEBAPPLICATIONFIREWALL","BASTION","FIREWALL","FIREWALLPOLICY"]},"role":{"type":"string"},"name":{"type":"string"},"systemType":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]},"systemUuid":{"type":"string"}}},"ResourceDTO":{"type":"object","properties":{"id":{"type":"string"},"systemUuid":{"type":"string"},"uuid":{"type":"string"},"taxonomyName":{"type":"string"},"taxonomyDescription":{"type":"string"},"taxonomyVersion":{"type":"integer","format":"int64"},"taxonomyReleaseVersion":{"type":"integer","format":"int64"},"properties":{"type":"object","additionalProperties":{}},"providerTags":{"type":"array","items":{"type":"string"}},"cmpManagedTags":{"type":"array","items":{"type":"string"}},"v":{"type":"integer","format":"int64"},"scope":{"type":"string","enum":["CATALOGO","INVENTARIO"]},"creationDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"type":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE"]},"subType":{"type":"string","enum":["APPLICATIONGATEWAY","CDNFRONTDOOR","LOADBALANCER","LOCALNETWORKGATEWAY","NETWORKINTERFACE","NETWORKSECURITYGROUP","PUBLICIP","VIRTUALNETWORK","VIRTUALNETWORKGATEWAY","CONNECTION","APPLICATIONSECURITYGROUP","WEBAPPLICATIONFIREWALL","BASTION","FIREWALL","FIREWALLPOLICY"]},"status":{"type":"string","enum":["DRAFT","VALIDATING","ACCEPTED","CANCELED","CREATED","CREATING","DELETED","DELETING","FAILED","NOT_SPECIFIED","READY","RUNNING","IN_PROGRESS","SUCCEEDED","UPDATING","UNATTACHED","ATTACHED","RESERVED","ACTIVE_SAS","READY_TO_UPLOAD","ACTIVE_UPLOAD"]},"rel":{"type":"array","items":{"$ref":"#/components/schemas/Relation"},"uniqueItems":true},"systemType":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]},"systemName":{"type":"string"},"availableRegion":{"type":"array","items":{"$ref":"#/components/schemas/Region"}},"cloudResource":{"type":"boolean"}}},"PriceDetails":{"type":"object","properties":{"includedQuantity":{"type":"number","format":"double"},"currencyCode":{"type":"string"},"retailPrice":{"type":"number","format":"double"},"unitPrice":{"type":"number","format":"double"},"location":{"type":"string"},"skuName":{"type":"string"},"unitOfMeasure":{"type":"string"},"reservationTerm":{"type":"string"},"type":{"type":"string"},"tierMinimumUnits":{"type":"number","format":"double"},"armRegionName":{"type":"string"},"effectiveStartDate":{"type":"string"},"effectiveEndDate":{"type":"string"},"meterId":{"type":"string"},"meterName":{"type":"string"},"primaryMeterRegion":{"type":"boolean"}}},"ReservationTerm":{"type":"object","properties":{"meterName":{"type":"string"},"meterId":{"type":"string"},"scopeType":{"type":"string"},"term":{"type":"string"},"expiryDate":{"type":"string"},"provisioningState":{"type":"string"},"renew":{"type":"boolean"}}},"Resource":{"type":"object","properties":{"id":{"type":"string"},"systemUuid":{"type":"string"},"systemName":{"type":"string"},"uuid":{"type":"string"},"taxonomyName":{"type":"string"},"taxonomyDescription":{"type":"string"},"taxonomyVersion":{"type":"integer","format":"int64"},"taxonomyReleaseVersion":{"type":"integer","format":"int64"},"properties":{"type":"object","additionalProperties":{}},"providerTags":{"type":"array","items":{"type":"string"}},"cmpManagedTags":{"type":"array","items":{"type":"string"}},"v":{"type":"integer","format":"int64"},"scope":{"type":"string","enum":["CATALOGO","INVENTARIO"]},"creationDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"type":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE"]},"subType":{"type":"string","enum":["APPLICATIONGATEWAY","CDNFRONTDOOR","LOADBALANCER","LOCALNETWORKGATEWAY","NETWORKINTERFACE","NETWORKSECURITYGROUP","PUBLICIP","VIRTUALNETWORK","VIRTUALNETWORKGATEWAY","CONNECTION","APPLICATIONSECURITYGROUP","WEBAPPLICATIONFIREWALL","BASTION","FIREWALL","FIREWALLPOLICY"]},"status":{"type":"string","enum":["DRAFT","VALIDATING","ACCEPTED","CANCELED","CREATED","CREATING","DELETED","DELETING","FAILED","NOT_SPECIFIED","READY","RUNNING","IN_PROGRESS","SUCCEEDED","UPDATING","UNATTACHED","ATTACHED","RESERVED","ACTIVE_SAS","READY_TO_UPLOAD","ACTIVE_UPLOAD"]},"rel":{"type":"array","items":{"$ref":"#/components/schemas/Relation"},"uniqueItems":true},"priceDetails":{"type":"array","items":{"$ref":"#/components/schemas/PriceDetails"}},"systemType":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]},"originalSystemType":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]},"description":{"type":"string"},"availableRegion":{"type":"array","items":{"$ref":"#/components/schemas/Region"}},"catalogueId":{"type":"string"},"priceType":{"type":"string","enum":["RESERVATION","CONSUMPTION","PREEMPTIVE","DEVTESTCONSUMPTION","ON_PREMISES"]},"meterId":{"type":"string"},"reservationTerm":{"$ref":"#/components/schemas/ReservationTerm"},"cloudResource":{"type":"boolean"}}},"UploadResponseBean":{"type":"object","properties":{"correct":{"type":"boolean"},"errorMessage":{"type":"string"},"message":{"type":"string"},"uuid":{"type":"string"}}},"TableColumns":{"type":"object","properties":{"tableName":{"type":"string"},"columns":{"type":"array","items":{"type":"string"}}}},"PagedListDTO":{"type":"object","properties":{"resources":{},"total":{"type":"integer","format":"int64"}}},"CatalogueBean":{"type":"object","properties":{"uuid":{"type":"string"},"from":{"type":"string","format":"date-time"},"to":{"type":"string","format":"date-time"},"lastValid":{"type":"boolean"},"provider":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]},"filename":{"type":"string"},"version":{"type":"integer","format":"int32"},"updateTime":{"type":"string","format":"date-time"},"creationTime":{"type":"string","format":"date-time"},"type":{"type":"string","enum":["SKUS","RESOURCES"]},"successRow":{"type":"integer","format":"int32"},"failureRow":{"type":"integer","format":"int32"},"associatedRow":{"type":"integer","format":"int32"},"totalRow":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["PROGRESS","SUCCESS","FAILED","DELETED","FUTURE"]},"errorMessage":{"type":"string"},"traceId":{"type":"string"},"reportUri":{"type":"string"},"tenantID":{"type":"string"},"onTimeLine":{"type":"boolean"}}},"DestinationStorage":{"type":"object","properties":{"storageId":{"type":"string"},"container":{"type":"string"},"rootFolderPath":{"type":"string"},"fileName":{"type":"string"},"lastModified":{"type":"string","format":"date-time"},"start":{"type":"string","format":"date"},"end":{"type":"string","format":"date"},"recursive":{"type":"boolean"}}},"QuotaAlertConfiguration":{"type":"object","properties":{"uuid":{"type":"string"},"creationDate":{"type":"string","format":"date-time"},"tenantID":{"type":"string"},"schedule":{"type":"string"},"alertType":{"type":"string","enum":["QUOTA"]},"alertSendType":{"type":"string"},"alertSendFormat":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"systemUuids":{"type":"array","items":{"type":"string"}},"quotaType":{"type":"string"},"threshold":{"type":"integer","format":"int32"},"status":{"type":"string"},"lastScheduleDate":{"type":"string","format":"date-time"},"firstScheduleDate":{"type":"string","format":"date-time"},"endScheduleDate":{"type":"string","format":"date-time"}}},"ServiceAccountGoogle":{"type":"object","properties":{"type":{"type":"string"},"project_id":{"type":"string"},"private_key_id":{"type":"string"},"private_key":{"type":"string"},"client_email":{"type":"string","pattern":"^[a-zA-Z0-9_!#$%&�*+/=?`{|}~^.-]+@[a-zA-Z0-9.-]+$"},"client_id":{"type":"string"},"auth_uri":{"type":"string"},"token_uri":{"type":"string"},"auth_provider_x509_cert_url":{"type":"string"},"client_x509_cert_url":{"type":"string"}}},"System":{"type":"object","properties":{"id":{"type":"string"},"uuid":{"type":"string","pattern":"\\b[0-9a-f]{8}\\b-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-\\b[0-9a-f]{12}\\b"},"name":{"type":"string"},"version":{"type":"string"},"type":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]},"parent":{"type":"boolean"},"creationDate":{"type":"string"},"state":{"type":"string"},"properties":{"$ref":"#/components/schemas/SystemProperties"},"onPremises":{"type":"boolean"}}},"SystemProperties":{"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"},"clientId":{"type":"string"},"clientSecret":{"type":"string"},"tenantId":{"type":"string"},"subscriptionId":{"type":"string"},"dayCost":{"type":"integer","format":"int32"},"costClientId":{"type":"string"},"costClientSecret":{"type":"string"},"costTenantId":{"type":"string"},"costSubscriptionId":{"type":"string"},"bridgeIp":{"type":"string"},"realm":{"type":"string"},"generateByCMP":{"type":"boolean"},"imported":{"type":"boolean"},"quotaAlertConfiguration":{"$ref":"#/components/schemas/QuotaAlertConfiguration"},"port":{"type":"integer","format":"int32"},"url":{"type":"string","pattern":"^(https?)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|](?<!/)$"},"serviceAccount":{"$ref":"#/components/schemas/ServiceAccountGoogle"},"location":{"type":"string"},"totalCPU":{"type":"integer","format":"int32"},"totalRAM":{"type":"integer","format":"int32"},"totalStorage":{"type":"integer","format":"int32"},"armEndpoint":{"type":"string","pattern":"^(https?)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]"},"vmwareTags":{"type":"string"},"workspaceId":{"type":"string"},"discoveryProjectId":{"type":"string"},"costExportProjectId":{"type":"string"},"kmsProjectId":{"type":"string"},"catalogPriceDiscount":{"type":"number","format":"double"},"providerPriceDiscount":{"type":"number","format":"double"},"odlID":{"type":"string"},"labelSelectors":{"type":"string"},"clusterAdmin":{"type":"boolean"},"namespaces":{"type":"array","items":{"type":"string"}},"storageAccountId":{"type":"string"},"destinationStorage":{"type":"array","items":{"$ref":"#/components/schemas/DestinationStorage"}},"fromBillingStorage":{"type":"boolean"},"ncUri":{"type":"string"},"clusterName":{"type":"string"},"needBridge":{"type":"boolean"},"virtualNetwork":{"type":"string"},"fingerprint":{"type":"string"},"region":{"type":"string"},"keyFile":{"type":"string"},"token":{"type":"string"},"providerVdc":{"type":"boolean"},"devopsOrganization":{"type":"string"},"devopsProject":{"type":"string"},"devopsPat":{"type":"string"},"usageAggregation":{"type":"boolean"},"certificateData":{"type":"string"},"uri":{"type":"string"},"context":{"type":"string"},"userCertificateData":{"type":"string"},"userKeyData":{"type":"string"},"userToken":{"type":"string"},"rateCodeBased":{"type":"boolean"},"roleBased":{"type":"boolean"},"roleId":{"type":"string"},"roleAuditId":{"type":"string"},"configAggregator":{"type":"string"},"costBucketPath":{"type":"string"},"costInUSD":{"type":"boolean"}}},"DashBoardDetails":{"type":"object","properties":{"label":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/DashBoardItem"}},"link":{"type":"string"}}},"DashBoardItem":{"type":"object","properties":{"type":{"type":"string","enum":["TEXT","PIE_CHART"]},"html":{"type":"string"},"title":{"type":"string"},"pie":{"type":"array","items":{"$ref":"#/components/schemas/PieChart"}}}},"PieChart":{"type":"object","properties":{"label":{"type":"string"},"quantity":{"type":"integer","format":"int32"}}},"ClusterStatsBean":{"type":"object","properties":{"systemUuid":{"type":"string"},"numberOfRunningPods":{"type":"integer","format":"int32"},"numberOfPods":{"type":"integer","format":"int32"},"numberOfNamespaces":{"type":"integer","format":"int32"},"numberOfNodes":{"type":"integer","format":"int32"}}},"RunningPodsStats":{"type":"object","properties":{"namespace":{"type":"string"},"numberOfRunningPods":{"type":"integer","format":"int32"}}},"StatsBean":{"type":"object","properties":{"total":{"type":"array","items":{"$ref":"#/components/schemas/TotalStats"}}}},"StatsDetailBean":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}}},"TotalStats":{"type":"object","properties":{"systemUuid":{"type":"string"},"type":{"type":"string"},"count":{"type":"integer","format":"int32"},"statsDetails":{"type":"array","items":{"$ref":"#/components/schemas/StatsDetailBean"}}}},"ComponentDetail":{"type":"object","properties":{"id":{"type":"string"},"uuid":{"type":"string"},"name":{"type":"string"},"systemName":{"type":"string"},"systemType":{"type":"string"},"systemSubType":{"type":"string"}}},"ResourceGraphDTO":{"type":"object","properties":{"id":{"type":"string"},"systemUuid":{"type":"string"},"uuid":{"type":"string"},"taxonomyName":{"type":"string"},"taxonomyDescription":{"type":"string"},"taxonomyVersion":{"type":"integer","format":"int64"},"taxonomyReleaseVersion":{"type":"integer","format":"int64"},"properties":{"type":"object","additionalProperties":{}},"providerTags":{"type":"array","items":{"type":"string"}},"cmpManagedTags":{"type":"array","items":{"type":"string"}},"v":{"type":"integer","format":"int64"},"scope":{"type":"string","enum":["CATALOGO","INVENTARIO"]},"creationDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"type":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE"]},"subType":{"type":"string","enum":["APPLICATIONGATEWAY","CDNFRONTDOOR","LOADBALANCER","LOCALNETWORKGATEWAY","NETWORKINTERFACE","NETWORKSECURITYGROUP","PUBLICIP","VIRTUALNETWORK","VIRTUALNETWORKGATEWAY","CONNECTION","APPLICATIONSECURITYGROUP","WEBAPPLICATIONFIREWALL","BASTION","FIREWALL","FIREWALLPOLICY"]},"status":{"type":"string","enum":["DRAFT","VALIDATING","ACCEPTED","CANCELED","CREATED","CREATING","DELETED","DELETING","FAILED","NOT_SPECIFIED","READY","RUNNING","IN_PROGRESS","SUCCEEDED","UPDATING","UNATTACHED","ATTACHED","RESERVED","ACTIVE_SAS","READY_TO_UPLOAD","ACTIVE_UPLOAD"]},"rel":{"type":"array","items":{"$ref":"#/components/schemas/Relation"},"uniqueItems":true},"systemType":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]},"systemName":{"type":"string"},"availableRegion":{"type":"array","items":{"$ref":"#/components/schemas/Region"}},"cloudResource":{"type":"boolean"},"graph":{"type":"array","items":{"$ref":"#/components/schemas/ResourceDTO"}}}},"ScopeStatistics":{"type":"object","properties":{"vm":{"$ref":"#/components/schemas/StateStatistics"},"network":{"$ref":"#/components/schemas/StateStatistics"},"storage":{"$ref":"#/components/schemas/StateStatistics"}}},"StateStatistics":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"idle":{"type":"integer","format":"int64"},"busy":{"type":"integer","format":"int64"},"unavailable":{"type":"integer","format":"int64"}}},"Statistics":{"type":"object","properties":{"catalogue":{"$ref":"#/components/schemas/ScopeStatistics"},"inventory":{"$ref":"#/components/schemas/ScopeStatistics"}}},"ResourceTag":{"type":"object","properties":{"tag":{"type":"string"}}},"OnPremiseResource":{"type":"object","properties":{"resourceType":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE"]},"resourceUuid":{"type":"string"},"capacityName":{"type":"string"},"capacityValue":{"type":"integer","format":"int32"}}},"OnPremiseSystem":{"type":"object","properties":{"systemType":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]},"systemUuid":{"type":"string"},"location":{"type":"string"},"onPremiseResources":{"type":"array","items":{"$ref":"#/components/schemas/OnPremiseResource"}},"availableCPU":{"type":"integer","format":"int32"},"availableRAM":{"type":"integer","format":"int32"},"availableStorage":{"type":"integer","format":"int32"},"totalCpuLimit":{"type":"number","format":"double"},"totalMemoryLimit":{"type":"number","format":"double"},"totalStorageLimit":{"type":"number","format":"double"},"totalCpuAllocated":{"type":"number","format":"double"},"totalMemoryAllocated":{"type":"number","format":"double"},"totalStorageAllocated":{"type":"number","format":"double"},"totalCpuUsed":{"type":"number","format":"double"},"totalMemoryUsed":{"type":"number","format":"double"},"totalStorageUsed":{"type":"number","format":"double"}}},"DashBoardResource":{"type":"object","properties":{"id":{"type":"string"},"uuid":{"type":"string"},"code":{"type":"string"},"name":{"type":"string"},"scope":{"type":"string","enum":["CATALOGO","INVENTARIO"]},"type":{"type":"string"},"subType":{"type":"string"},"region":{"type":"string"},"size":{"type":"string"},"state":{"type":"string"},"status":{"type":"string","enum":["DRAFT","VALIDATING","ACCEPTED","CANCELED","CREATED","CREATING","DELETED","DELETING","FAILED","NOT_SPECIFIED","READY","RUNNING","IN_PROGRESS","SUCCEEDED","UPDATING","UNATTACHED","ATTACHED","RESERVED","ACTIVE_SAS","READY_TO_UPLOAD","ACTIVE_UPLOAD"]},"numRel":{"type":"string"},"creationDate":{"type":"string","format":"date-time"},"systemType":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]},"provider":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]},"providerTags":{"type":"array","items":{"type":"string"}},"cmpManagedTags":{"type":"array","items":{"type":"string"}},"resourcegroup":{"type":"string"},"systemUuid":{"type":"string"},"systemName":{"type":"string"},"serviceName":{"type":"string"},"haveCatalogue":{"type":"boolean"},"cost":{"type":"number","format":"double"},"costCMP":{"type":"number","format":"double"},"cloudResource":{"type":"boolean"},"confidential":{"type":"boolean"},"namespaced":{"type":"boolean"},"editable":{"type":"boolean"},"showable":{"type":"boolean"}}}}}}