{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://www.movincloud.com:8000","description":"Generated server url"}],"tags":[{"name":"FinOps FOCUS","description":"FinOps FOCUS Standard API"},{"name":"FinOps Usage","description":"FinOps Usage Standard API"},{"name":"FinOps Costs","description":"FinOps Costs Standard API"},{"name":"Usage v2","description":"Usage Data API List new version"},{"name":"Client FinOps Costs","description":"Customer FinOps Costs Standard API"}],"paths":{"/usagesv2/v2/resource/summary":{"post":{"tags":["Usage v2"],"summary":"Get a list of resource usage summaries","operationId":"computeResourcesUsageSummariesPOST","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestUsageStats"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceUsageSummaryv2Bean"}}}}}}}},"/costs/v2/model":{"post":{"tags":["costs-controller-v-2"],"summary":"Creates/Updates a cost model","operationId":"upsertCostModel","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostModelRequestV2"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CostModelRequestV2"}}}}}}},"/usagesv2/resource/summary":{"get":{"tags":["Usage v2"],"summary":"Get a list of resource usage summaries","operationId":"computeResourcesUsageSummaries","parameters":[{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"costContext","in":"query","description":"Cost context for which to show usage summaries","required":false,"schema":{"type":"string","default":""}},{"name":"extend","in":"query","description":"Cost context for which to show usage summaries","required":false,"schema":{"type":"boolean","default":false}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceUsageSummaryv2Bean"}}}}}}}},"/usagesv2/expressioncheck":{"get":{"tags":["Usage v2"],"summary":"Get a list of resource usage summaries","operationId":"check","parameters":[{"name":"expression","in":"query","description":"expression check","required":false,"schema":{"type":"string","default":""}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericException"}}}}}}},"/finOps":{"get":{"tags":["FinOps FOCUS"],"summary":"Gets a list of FinOps FOCUS data","operationId":"findAll","parameters":[{"name":"dateFrom","in":"query","description":"Start date of FinOps data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of FinOps data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"providers","in":"query","description":"List of cloud providers of FinOps data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemUuids","in":"query","description":"List of system uuid of FinOps data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of FinOps data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FinOpsCost"}}}}}}}},"/finOps/tags":{"get":{"tags":["FinOps FOCUS"],"summary":"Get resource tags","operationId":"getResourcesTags","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/finOps/resourceTypes":{"get":{"tags":["FinOps FOCUS"],"summary":"Gets resource types of FinOps FOCUS data","operationId":"getResourceTypes","parameters":[{"name":"dateFrom","in":"query","description":"Start date of account data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of account data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"providers","in":"query","description":"List of cloud providers of account data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemUuids","in":"query","description":"List of system uuid of FinOps data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/finOps/providers":{"get":{"tags":["FinOps FOCUS"],"summary":"Gets providers of FinOps FOCUS data","operationId":"getProviders","parameters":[{"name":"dateFrom","in":"query","description":"Start date of provider data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of provider data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"systemUuids","in":"query","description":"List of system uuid of provider data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of provider data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/finOps/cmpAccounts":{"get":{"tags":["FinOps FOCUS"],"summary":"Gets CMP accounts of FinOps FOCUS data","operationId":"getCMPAccounts","parameters":[{"name":"dateFrom","in":"query","description":"Start date of account data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of account data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"providers","in":"query","description":"List of cloud providers of account data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of account data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/finOps/checkEndDate":{"get":{"tags":["FinOps FOCUS"],"summary":"Checks the date range to cost/usage data","operationId":"checkEndDate","parameters":[{"name":"dateTo","in":"query","description":"End date of account data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"app-lang","in":"header","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/finOps-usage/unit":{"get":{"tags":["FinOps Usage"],"summary":"Gets FinOps usage sku unit","operationId":"usageUnit","parameters":[{"name":"skuName","in":"query","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/finOps-usage/timeseries":{"get":{"tags":["FinOps Usage"],"summary":"Gets finops usage timeseries by skuName","operationId":"usageTimeseries","parameters":[{"name":"skuName","in":"query","required":true,"schema":{"type":"string"}},{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"context","in":"query","required":false,"schema":{"type":"string","default":"resource"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/finOps-usage/summary":{"get":{"tags":["FinOps Usage"],"summary":"Computes FinOps usage summary by filters","operationId":"computeUsageSummary","parameters":[{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"service","in":"query","description":"Service category of usage data","required":false,"schema":{"type":"string","default":""}},{"name":"skuName","in":"query","description":"Sku name of usage data","required":false,"schema":{"type":"string","default":""}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"groupBy","in":"query","description":"List of fields to group cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/finOps-usage/skus":{"get":{"tags":["FinOps Usage"],"summary":"Gets FinOps usage skus","operationId":"usageSkus","parameters":[{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"service","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/finOps-usage/services":{"get":{"tags":["FinOps Usage"],"summary":"Gets FinOps usage services","operationId":"usageServices","parameters":[{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of usage data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/finOps-usage/dashboard":{"get":{"tags":["FinOps Usage"],"summary":"Gets right FinOps usage dashboard","operationId":"findUsageDashboardPath","parameters":[{"name":"app-lang","in":"header","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/finOps-costs/timeseries":{"get":{"tags":["FinOps Costs"],"summary":"Gets FinOps costs timeseries","operationId":"costTimeseries","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"context","in":"query","description":"Context level of cost data","required":false,"schema":{"type":"string","default":"billing"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/finOps-costs/summary":{"get":{"tags":["FinOps Costs"],"summary":"Computes costs summary of FinOps FOCUS by filters","operationId":"computeCostsSummary","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"groupBy","in":"query","description":"List of fields to group cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/finOps-costs/resources/summary":{"get":{"tags":["FinOps Costs"],"summary":"Get a list of resource usage summaries","operationId":"computeResourcesUsageSummaries_1","parameters":[{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"costContext","in":"query","description":"Cost context for which to show usage summaries","required":false,"schema":{"type":"string","default":""}},{"name":"extend","in":"query","description":"Cost context for which to show usage summaries","required":false,"schema":{"type":"boolean","default":false}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceUsageSummaryv2Bean"}}}}}}}},"/finOps-costs/forecast":{"get":{"tags":["FinOps Costs"],"summary":"Gets FinOps forecast costs timeseries","operationId":"forecastCostTimeseries","parameters":[{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"context","in":"query","description":"Context level of cost data","required":false,"schema":{"type":"string","default":""}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/finOps-costs/dashboard":{"get":{"tags":["FinOps Costs"],"summary":"Gets right FinOps costs dashboard","operationId":"findCostDashboardPathByRole","parameters":[{"name":"dashboardType","in":"query","required":false,"schema":{"type":"string","default":"admin"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"app-lang","in":"header","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/finOps-costs/client/timeseries":{"get":{"tags":["Client FinOps Costs"],"summary":"Gets customer FinOps costs timeseries","operationId":"costTimeseries_1","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"context","in":"query","description":"Context level of cost data","required":false,"schema":{"type":"string","default":"billing"}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/finOps-costs/client/summary":{"get":{"tags":["Client FinOps Costs"],"summary":"Computes customer costs summary of FinOps FOCUS by filters","operationId":"computeCostsSummary_1","parameters":[{"name":"dateFrom","in":"query","description":"Start date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of cost data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"groupBy","in":"query","description":"List of fields to group cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/finOps-costs/client/forecast":{"get":{"tags":["Client FinOps Costs"],"summary":"Gets customer FinOps forecast costs timeseries","operationId":"forecastCostTimeseries_1","parameters":[{"name":"dateFrom","in":"query","description":"Start date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of usage data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"tags","in":"query","description":"List of tags/tgu related to resources","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"providers","in":"query","description":"List of cloud providers of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemNames","in":"query","description":"List of system name of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceTypes","in":"query","description":"List of resource types of cost data","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"context","in":"query","description":"Context level of cost data","required":false,"schema":{"type":"string","default":""}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}}}}}},"/costs/v2/model/{systemType}":{"get":{"tags":["costs-controller-v-2"],"summary":"Get a cost model","operationId":"getCostModel","parameters":[{"name":"systemType","in":"path","required":true,"schema":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]}},{"name":"systemUuid","in":"query","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CostModelV2"}}}}}},"delete":{"tags":["costs-controller-v-2"],"summary":"Deletes the cost model provider","operationId":"deleteCostModelProvider","parameters":[{"name":"systemType","in":"path","required":true,"schema":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]}},{"name":"systemUuid","in":"query","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"}}}},"/costs/v2/model/metrics/{systemType}":{"get":{"tags":["costs-controller-v-2"],"summary":"Gets the cost model provider","operationId":"getCostMetricsProvider","parameters":[{"name":"systemType","in":"path","required":true,"schema":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]}},{"name":"app-lang","in":"header","required":false,"schema":{"type":"string","default":"en"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProviderMetricsResponseBean"}}}}}}},"/bills/charge":{"get":{"tags":["billing-controller"],"summary":"Emit bill information","operationId":"emitBills","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/GenericException"},{"$ref":"#/components/schemas/ErrorResponse"}]}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"}}},"GenericException":{"type":"object","properties":{"cause":{"type":"object","properties":{"stackTrace":{"type":"array","items":{"type":"object","properties":{"classLoaderName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"methodName":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"className":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"message":{"type":"string"},"localizedMessage":{"type":"string"}}},"stackTrace":{"type":"array","items":{"type":"object","properties":{"classLoaderName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"methodName":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"className":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"errorCode":{"type":"string"},"errorMessage":{"type":"string"},"message":{"type":"string"},"suppressed":{"type":"array","items":{"type":"object","properties":{"stackTrace":{"type":"array","items":{"type":"object","properties":{"classLoaderName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"methodName":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"className":{"type":"string"},"nativeMethod":{"type":"boolean"}}}},"message":{"type":"string"},"localizedMessage":{"type":"string"}}}},"localizedMessage":{"type":"string"}}},"RequestUsageStats":{"type":"object","properties":{"dateFrom":{"type":"string","format":"date-time","description":"Start date of usage data"},"dateTo":{"type":"string","format":"date-time","description":"End date of usage data"},"granularity":{"type":"string","description":"Granularity of usage data","enum":["ONEHOUR","SIXHOURS","ONEDAY","ONEWEEK"]},"resourceType":{"type":"string","description":"Type of resources","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE"]},"systemType":{"type":"string","description":"Type of sub-systems","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]},"systemUuid":{"type":"string","description":"Specific uuid of a sub-system"},"resourceUuids":{"type":"array","description":"List of resource IDs for which to show usage values","items":{"type":"string"}},"tags":{"type":"array","description":"List of tags related to resources","items":{"type":"string"}},"costContext":{"type":"string","description":"Specific cost context"},"splitByDay":{"type":"boolean"},"extend":{"type":"boolean"}}},"ReletedResourcesUsageBean":{"type":"object","properties":{"resourceType":{"type":"string"},"resourceUuid":{"type":"string"},"resourceName":{"type":"string"},"unitProvider":{"type":"string"},"usageProvider":{"type":"number","format":"double"},"systemUuid":{"type":"string"},"systemName":{"type":"string"}}},"ResourceUsageSummaryv2Bean":{"type":"object","properties":{"billingAccountId":{"type":"string"},"catalogueCodeProvider":{"type":"string"},"catalogueCodeCMP":{"type":"string"},"resourceUuid":{"type":"string"},"resourceName":{"type":"string"},"nameProvider":{"type":"string"},"nameCMP":{"type":"string"},"unitProvider":{"type":"string"},"unitCMP":{"type":"string"},"usageProvider":{"type":"number","format":"double"},"usageCMP":{"type":"number","format":"double"},"costProvider":{"type":"number","format":"double"},"costProviderUSD":{"type":"number","format":"double"},"costCMP":{"type":"number","format":"double"},"totalcostProvider":{"type":"number","format":"double"},"totalcostProviderUSD":{"type":"number","format":"double"},"totalcostCMP":{"type":"number","format":"double"},"odl":{"type":"string"},"systemUuid":{"type":"string"},"systemName":{"type":"string"},"reletedResources":{"type":"array","items":{"$ref":"#/components/schemas/ReletedResourcesUsageBean"}},"discoveryType":{"type":"string","enum":["NOT_FOUND_ON_INVENTORY","NOT_FOUND_ON_CATALOGUE","FOUND","FOUND_BUT_NOT_PRICE_DEFINED","NO_ITEM_FOUND_ON_CATALOGUE"]},"date":{"type":"string","format":"date"}}},"CostModelRequestV2":{"type":"object","properties":{"systemType":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]},"systemUuid":{"type":"string"},"currency":{"type":"string"},"percentageDiscount":{"type":"number","format":"double"},"rates":{"type":"array","items":{"$ref":"#/components/schemas/Rate"}}}},"Rate":{"type":"object","properties":{"unit":{"type":"string","enum":["RAM_HOUR","RAM_HOUR_USAGE","VCPU_HOUR","VCPU_HOUR_USAGE","STORAGE_HOUR","DEVICE_HOUR"]},"price":{"type":"number","format":"double"},"description":{"type":"string"},"type":{"type":"string"}}},"FinOpsCost":{"type":"object","properties":{"availabilityZone":{"type":"string"},"billedCost":{"type":"number","format":"double"},"agreedBillingCost":{"type":"number","format":"double"},"billedUSDCost":{"type":"number","format":"double"},"billingAccountId":{"type":"string"},"billingAccountName":{"type":"string"},"billingDepartmentId":{"type":"string"},"billingDepartmentName":{"type":"string"},"billingCurrency":{"type":"string"},"chargeCategory":{"type":"string"},"chargePeriodStart":{"type":"string","format":"date-time"},"chargePeriodEnd":{"type":"string","format":"date-time"},"currencyConversionRate":{"type":"number","format":"double"},"effectiveCost":{"type":"number","format":"double"},"pricingQuantity":{"type":"number","format":"double"},"pricingUnit":{"type":"string"},"pricingModel":{"type":"string"},"provider":{"type":"string"},"region":{"type":"string"},"resourceId":{"type":"string"},"resourceName":{"type":"string"},"resourceType":{"type":"string"},"serviceCategory":{"type":"string"},"serviceName":{"type":"string"},"skuId":{"type":"string"},"skuName":{"type":"string"},"subAccountId":{"type":"string"},"subAccountName":{"type":"string"},"tags":{"type":"object","additionalProperties":{"type":"string"}},"tagString":{"type":"string"},"tier":{"type":"string"},"usageQuantity":{"type":"number","format":"double"},"usageUnit":{"type":"string"},"cmpaccountId":{"type":"string"}}},"Document":{"type":"object","additionalProperties":{},"properties":{"empty":{"type":"boolean"}}},"CostModelV2":{"type":"object","properties":{"version":{"type":"integer","format":"int32"},"systemType":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]},"systemUuid":{"type":"string"},"currency":{"type":"string"},"rates":{"type":"array","items":{"$ref":"#/components/schemas/Rate"}},"percentageDiscount":{"type":"number","format":"double"},"creationDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"}}},"MetricDetail":{"type":"object","properties":{"type":{"type":"string"},"units":{"type":"array","items":{"$ref":"#/components/schemas/UnitDetail"}}}},"ProviderMetricsResponseBean":{"type":"object","properties":{"provider":{"type":"string"},"metrics":{"type":"array","items":{"$ref":"#/components/schemas/MetricDetail"}}}},"UnitDetail":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"symbol":{"type":"string"}}}}}}