{
  "openapi": "3.0.1",
  "info": {
    "title": "SCMP - FinOps FOCUS & External API",
    "version": "v0"
  },
  "servers": [
    {
      "url": "http://movincloud.com:8000",
      "description": "SCMP Server Url"
    }
  ],
  "tags": [
    {
      "name": "FinOps FOCUS",
      "description": "FinOps FOCUS Standard API"
    },
    {
      "name": "FinOps Costs",
      "description": "FinOps Costs Standard API"
    },
    {
      "name": "Client FinOps Costs",
      "description": "Customer FinOps Costs Standard API"
    },
    {
      "name": "FinOps Usage",
      "description": "FinOps Usage Standard API"
    },
    {
      "name": "External Usage",
      "description": "External Usage API"
    }
  ],
  "paths": {
    "/finOps": {
      "get": {
        "tags": [
          "FinOps FOCUS"
        ],
        "summary": "Gets a list of FinOps FOCUS data",
        "operationId": "findAll",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Start date of FinOps data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "End date of FinOps data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "providers",
            "in": "query",
            "description": "List of cloud providers of FinOps data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "systemUuids",
            "in": "query",
            "description": "List of system uuid of FinOps data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "resourceTypes",
            "in": "query",
            "description": "List of resource types of FinOps data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "resources"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinOpsFocus"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenericException"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/finOps-usage/timeseries": {
      "get": {
        "tags": [
          "FinOps Usage"
        ],
        "summary": "Gets finops usage timeseries by skuName",
        "operationId": "usageTimeseries",
        "parameters": [
          {
            "name": "skuName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Start date of usage data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "End date of usage data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "List of tags/tgu related to resources",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "providers",
            "in": "query",
            "description": "List of cloud providers of usage data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "systemNames",
            "in": "query",
            "description": "List of system name of usage data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "resourceTypes",
            "in": "query",
            "description": "List of resource types of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "resource"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "resources"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinOpsUsageTimeSerie"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenericException"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/finOps-usage/summary": {
      "get": {
        "tags": [
          "FinOps Usage"
        ],
        "summary": "Computes FinOps usage summary by filters",
        "operationId": "computeUsageSummary",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Start date of usage data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "End date of usage data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "service",
            "in": "query",
            "description": "Service category of usage data",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "skuName",
            "in": "query",
            "description": "Sku name of usage data",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "List of tags/tgu related to resources",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "providers",
            "in": "query",
            "description": "List of cloud providers of usage data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "systemNames",
            "in": "query",
            "description": "List of system name of usage data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "resourceTypes",
            "in": "query",
            "description": "List of resource types of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "groupBy",
            "in": "query",
            "description": "List of fields to group cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "resources"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinOpsUsageSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenericException"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/finOps-costs/timeseries": {
      "get": {
        "tags": [
          "FinOps Costs"
        ],
        "summary": "Gets FinOps costs timeseries",
        "operationId": "costTimeseries",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Start date of cost data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "End date of cost data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "List of tags/tgu related to resources",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "providers",
            "in": "query",
            "description": "List of cloud providers of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "systemNames",
            "in": "query",
            "description": "List of system name of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "resourceTypes",
            "in": "query",
            "description": "List of resource types of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "context",
            "in": "query",
            "description": "Context level of cost data",
            "required": false,
            "schema": {
              "type": "string",
              "default": "billing"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "resources"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinOpsCostTimeSerie"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenericException"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/finOps-costs/summary": {
      "get": {
        "tags": [
          "FinOps Costs"
        ],
        "summary": "Computes costs summary of FinOps FOCUS by filters",
        "operationId": "computeCostsSummary",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Start date of cost data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "End date of cost data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "List of tags/tgu related to resources",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "providers",
            "in": "query",
            "description": "List of cloud providers of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "systemNames",
            "in": "query",
            "description": "List of system name of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "resourceTypes",
            "in": "query",
            "description": "List of resource types of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "groupBy",
            "in": "query",
            "description": "List of fields to group cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "resources"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinOpsCostSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenericException"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/finOps-costs/forecast": {
      "get": {
        "tags": [
          "FinOps Costs"
        ],
        "summary": "Gets FinOps forecast costs timeseries",
        "operationId": "forecastCostTimeseries",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Start date of usage data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "End date of usage data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "List of tags/tgu related to resources",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "providers",
            "in": "query",
            "description": "List of cloud providers of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "systemNames",
            "in": "query",
            "description": "List of system name of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "resourceTypes",
            "in": "query",
            "description": "List of resource types of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "context",
            "in": "query",
            "description": "Context level of cost data",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "resources"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinOpsCostForecast"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenericException"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/finOps-costs/client/timeseries": {
      "get": {
        "tags": [
          "Client FinOps Costs"
        ],
        "summary": "Gets customer FinOps costs timeseries",
        "operationId": "costTimeseries_1",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Start date of cost data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "End date of cost data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "List of tags/tgu related to resources",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "providers",
            "in": "query",
            "description": "List of cloud providers of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "systemNames",
            "in": "query",
            "description": "List of system name of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "resourceTypes",
            "in": "query",
            "description": "List of resource types of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "context",
            "in": "query",
            "description": "Context level of cost data",
            "required": false,
            "schema": {
              "type": "string",
              "default": "billing"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "resources"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinOpsCostClientTimeSerie"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenericException"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/finOps-costs/client/summary": {
      "get": {
        "tags": [
          "Client FinOps Costs"
        ],
        "summary": "Computes customer costs summary of FinOps FOCUS by filters",
        "operationId": "computeCostsSummary_1",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Start date of cost data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "End date of cost data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "List of tags/tgu related to resources",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "providers",
            "in": "query",
            "description": "List of cloud providers of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "systemNames",
            "in": "query",
            "description": "List of system name of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "resourceTypes",
            "in": "query",
            "description": "List of resource types of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "groupBy",
            "in": "query",
            "description": "List of fields to group cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "resources"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinOpsCostClientSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenericException"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/finOps-costs/client/forecast": {
      "get": {
        "tags": [
          "Client FinOps Costs"
        ],
        "summary": "Gets customer FinOps forecast costs timeseries",
        "operationId": "forecastCostTimeseries_1",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Start date of usage data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "End date of usage data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "List of tags/tgu related to resources",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "providers",
            "in": "query",
            "description": "List of cloud providers of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "systemNames",
            "in": "query",
            "description": "List of system name of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "resourceTypes",
            "in": "query",
            "description": "List of resource types of cost data",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "context",
            "in": "query",
            "description": "Context level of cost data",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "resources"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinOpsCostClientForecast"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenericException"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/usagesv2/resource/summary": {
      "get": {
        "tags": [
          "External Usage"
        ],
        "summary": "Get a list of resource usage summaries",
        "operationId": "computeResourcesUsageSummaries",
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Start date of usage data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "End date of usage data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "List of tags/tgu related to resources",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "costContext",
            "in": "query",
            "description": "Cost context for which to show usage summaries",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "extend",
            "in": "query",
            "description": "Cost context for which to show usage summaries",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "resources"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResourceUsageSummaryv2Bean"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GenericException"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "GenericException": {
        "type": "object",
        "properties": {
          "cause": {
            "type": "object",
            "properties": {
              "stackTrace": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "classLoaderName": {
                      "type": "string"
                    },
                    "moduleName": {
                      "type": "string"
                    },
                    "moduleVersion": {
                      "type": "string"
                    },
                    "methodName": {
                      "type": "string"
                    },
                    "fileName": {
                      "type": "string"
                    },
                    "lineNumber": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "className": {
                      "type": "string"
                    },
                    "nativeMethod": {
                      "type": "boolean"
                    }
                  }
                }
              },
              "message": {
                "type": "string"
              },
              "localizedMessage": {
                "type": "string"
              }
            }
          },
          "stackTrace": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "classLoaderName": {
                  "type": "string"
                },
                "moduleName": {
                  "type": "string"
                },
                "moduleVersion": {
                  "type": "string"
                },
                "methodName": {
                  "type": "string"
                },
                "fileName": {
                  "type": "string"
                },
                "lineNumber": {
                  "type": "integer",
                  "format": "int32"
                },
                "className": {
                  "type": "string"
                },
                "nativeMethod": {
                  "type": "boolean"
                }
              }
            }
          },
          "errorCode": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "suppressed": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "stackTrace": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "classLoaderName": {
                        "type": "string"
                      },
                      "moduleName": {
                        "type": "string"
                      },
                      "moduleVersion": {
                        "type": "string"
                      },
                      "methodName": {
                        "type": "string"
                      },
                      "fileName": {
                        "type": "string"
                      },
                      "lineNumber": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "className": {
                        "type": "string"
                      },
                      "nativeMethod": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "message": {
                  "type": "string"
                },
                "localizedMessage": {
                  "type": "string"
                }
              }
            }
          },
          "localizedMessage": {
            "type": "string"
          }
        }
      },
      "FinOpsFocus": {
        "type": "object",
        "properties": {
          "AvailabilityZone": {
            "type": "string",
            "description": "Zone of cost is available"
          },
          "AgreedBillingCost": {
            "type": "number",
            "format": "double",
            "description": "Agreed billing account provider cost"
          },
          "BilledCost": {
            "type": "number",
            "format": "double",
            "description": "Billing account provider cost"
          },
          "BilledUSDCost": {
            "type": "number",
            "format": "double",
            "description": "Billing account provider cost in dollar (USD)"
          },
          "BillingAccountId": {
            "type": "string",
            "description": "Billing account id to find cost"
          },
          "BillingAccountName": {
            "type": "string",
            "description": "Billing account name to find cost"
          },
          "BillingDepartmentId": {
            "type": "string",
            "description": "Billing department id releated to cost"
          },
          "BillingDepartmentName": {
            "type": "string",
            "description": "Billing department name releated to cost"
          },
          "BillingCurrency": {
            "type": "string",
            "description": "Billing cost currency"
          },
          "ChargeCategory": {
            "type": "string",
            "description": "Category of cost"
          },
          "ChargePeriodStart": {
            "type": "string",
            "format": "date-time",
            "description": "Start timestamp of service usage"
          },
          "ChargePeriodEnd": {
            "type": "string",
            "format": "date-time",
            "description": "End timestamp of service usage"
          },
          "CmpAccountId": {
            "type": "string",
            "description": "Id of releated internal SCMP account"
          },
          "CurrencyConversionRate": {
            "type": "number",
            "format": "double",
            "description": "Currency conversion rate"
          },
          "EffectiveCost": {
            "type": "number",
            "format": "double",
            "description": "Client cost"
          },
          "PricingQuantity": {
            "type": "number",
            "format": "double",
            "description": "Usage quantity by pricing"
          },
          "PricingUnit": {
            "type": "string",
            "description": "Usage unit by pricing"
          },
          "PricingModel": {
            "type": "string",
            "description": "Price model of sku releated cost"
          },
          "Provider": {
            "type": "string",
            "description": "Cloud provider name"
          },
          "Region": {
            "type": "string",
            "description": "Geographic area where cost is provided"
          },
          "ResourceId": {
            "type": "string",
            "description": "Id of resource releated to cost"
          },
          "ResourceName": {
            "type": "string",
            "description": "Name of resource releated to cost"
          },
          "ResourceType": {
            "type": "string",
            "description": "Type of resource releated to cost"
          },
          "ServiceCategory": {
            "type": "string",
            "description": "Provided category service"
          },
          "ServiceName": {
            "type": "string",
            "description": "Name of service releated to cost"
          },
          "SkuId": {
            "type": "string",
            "description": "Id of sku releated to cost"
          },
          "SkuName": {
            "type": "string",
            "description": "Name of sku releated to cost"
          },
          "SubAccountId": {
            "type": "string",
            "description": "Id of billing sub account to find cost"
          },
          "SubAccountName": {
            "type": "string",
            "description": "Name of billing sub account to find cost"
          },
          "Tags": {
            "type": "object",
            "description": "Custom tags bound to cost",
            "additionalProperties": {
              "type": "string"
            }
          },
          "Tier": {
            "type": "string",
            "description": "Tier of sku releated cost"
          },
          "UsageQuantity": {
            "type": "number",
            "format": "double",
            "description": "Quantity used from resource or service"
          },
          "UsageUnit": {
            "type": "string",
            "description": "Unit of measure of usage quantity"
          }
        }
      },
      "FinOpsCostSummary": {
        "type": "object",
        "properties": {
          "AgreedBillingCost": {
            "type": "number",
            "format": "double",
            "description": "Agreed billing account provider cost"
          },
          "BilledCost": {
            "type": "number",
            "format": "double",
            "description": "Billing account provider cost"
          },
          "BilledUSDCost": {
            "type": "number",
            "format": "double",
            "description": "Billing account provider cost in dollar (USD)"
          },
          "BillingAccount": {
            "type": "string",
            "description": "Billing account releated to cost"
          },
          "BillingDepartment": {
            "type": "string",
            "description": "Billing department releated to cost"
          },
          "BillingCurrency": {
            "type": "string",
            "description": "Billing cost currency"
          },
          "ChargePeriodEnd": {
            "type": "string",
            "format": "date-time",
            "description": "End timestamp of service usage"
          },
          "CmpAccount": {
            "type": "string",
            "description": "Id of releated internal SCMP account"
          },
          "EffectiveCost": {
            "type": "number",
            "format": "double",
            "description": "Client cost"
          },
          "PriceModel": {
            "type": "string",
            "description": "Price model of sku releated cost"
          },
          "Provider": {
            "type": "string",
            "description": "Cloud provider"
          },
          "Region": {
            "type": "string",
            "description": "Geographic area where cost is provided"
          },
          "ResourceId": {
            "type": "string",
            "description": "Id of resource releated to cost"
          },
          "ResourceName": {
            "type": "string",
            "description": "Name of resource releated to cost"
          },
          "ResourceType": {
            "type": "string",
            "description": "Type of resource releated to cost"
          },
          "ServiceCategory": {
            "type": "string",
            "description": "Provided category service"
          },
          "SkuId": {
            "type": "string",
            "description": "Id of sku releated to cost"
          },
          "SkuName": {
            "type": "string",
            "description": "Name of sku releated to cost"
          },
          "SubAccount": {
            "type": "string",
            "description": "Billing sub account releated to cost"
          },
          "Tier": {
            "type": "string",
            "description": "Tier of sku releated cost"
          }
        }
      },
      "FinOpsCostClientSummary": {
        "type": "object",
        "properties": {
          "BillingAccount": {
            "type": "string",
            "description": "Billing account releated to cost"
          },
          "BillingDepartment": {
            "type": "string",
            "description": "Billing department releated to cost"
          },
          "BillingCurrency": {
            "type": "string",
            "description": "Billing cost currency"
          },
          "ChargePeriodEnd": {
            "type": "string",
            "format": "date-time",
            "description": "End timestamp of service usage"
          },
          "CmpAccount": {
            "type": "string",
            "description": "Id of releated internal SCMP account"
          },
          "EffectiveCost": {
            "type": "number",
            "format": "double",
            "description": "Client cost"
          },
          "PriceModel": {
            "type": "string",
            "description": "Price model of sku releated cost"
          },
          "Provider": {
            "type": "string",
            "description": "Cloud provider"
          },
          "Region": {
            "type": "string",
            "description": "Geographic area where cost is provided"
          },
          "ResourceId": {
            "type": "string",
            "description": "Id of resource releated to cost"
          },
          "ResourceName": {
            "type": "string",
            "description": "Name of resource releated to cost"
          },
          "ResourceType": {
            "type": "string",
            "description": "Type of resource releated to cost"
          },
          "ServiceCategory": {
            "type": "string",
            "description": "Provided category service"
          },
          "SkuId": {
            "type": "string",
            "description": "Id of sku releated to cost"
          },
          "SkuName": {
            "type": "string",
            "description": "Name of sku releated to cost"
          },
          "SubAccount": {
            "type": "string",
            "description": "Billing sub account releated to cost"
          },
          "Tier": {
            "type": "string",
            "description": "Tier of sku releated cost"
          }
        }
      },
      "FinOpsUsageSummary": {
        "type": "object",
        "properties": {
          "BillingAccount": {
            "type": "string",
            "description": "Billing account releated to usage"
          },
          "BillingDepartment": {
            "type": "string",
            "description": "Billing department releated to usage"
          },
          "ChargePeriodEnd": {
            "type": "string",
            "format": "date-time",
            "description": "End timestamp of service usage"
          },
          "CmpAccount": {
            "type": "string",
            "description": "Id of releated internal SCMP account"
          },
          "PriceModel": {
            "type": "string",
            "description": "Price model of sku releated usage"
          },
          "Provider": {
            "type": "string",
            "description": "Cloud provider"
          },
          "Region": {
            "type": "string",
            "description": "Geographic area where usage is provided"
          },
          "ResourceId": {
            "type": "string",
            "description": "Id of resource releated to usage"
          },
          "ResourceName": {
            "type": "string",
            "description": "Name of resource releated to usage"
          },
          "ResourceType": {
            "type": "string",
            "description": "Type of resource releated to usage"
          },
          "ServiceCategory": {
            "type": "string",
            "description": "Provided category service"
          },
          "SkuId": {
            "type": "string",
            "description": "Id of sku releated to usage"
          },
          "SkuName": {
            "type": "string",
            "description": "Name of sku releated to usage"
          },
          "SubAccount": {
            "type": "string",
            "description": "Billing sub account releated to usage"
          },
          "Tier": {
            "type": "string",
            "description": "Tier of sku releated usage"
          },
          "UsageQuantity": {
            "type": "number",
            "format": "double",
            "description": "Quantity used from resource or service"
          },
          "UsageUnit": {
            "type": "string",
            "description": "Unit of measure of usage quantity"
          }
        }
      },
      "FinOpsUsageTimeSerie": {
        "type": "object",
        "properties": {
          "ChargePeriodEnd": {
            "type": "string",
            "format": "date-time",
            "description": "End timestamp of service usage"
          },
          "ResourceId": {
            "type": "string",
            "description": "Id of resource releated to usage"
          },
          "ResourceName": {
            "type": "string",
            "description": "Name of resource releated to usage"
          },
          "SkuId": {
            "type": "string",
            "description": "Id of sku releated to usage"
          },
          "SkuName": {
            "type": "string",
            "description": "Name of sku releated to usage"
          },
          "UsageQuantity": {
            "type": "number",
            "format": "double",
            "description": "Quantity used from resource or service"
          }
        }
      },
      "FinOpsCostTimeSerie": {
        "type": "object",
        "properties": {
          "AgreedBillingCost": {
            "type": "number",
            "format": "double",
            "description": "Agreed billing account provider cost"
          },
          "BilledCost": {
            "type": "number",
            "format": "double",
            "description": "Billing account provider cost"
          },
          "BilledUSDCost": {
            "type": "number",
            "format": "double",
            "description": "Billing account provider cost in dollar (USD)"
          },
          "BillingAccount": {
            "type": "string",
            "description": "Billing account releated to cost"
          },
          "BillingDepartment": {
            "type": "string",
            "description": "Billing department releated to cost"
          },
          "ChargePeriodEnd": {
            "type": "string",
            "format": "date-time",
            "description": "End timestamp of service usage"
          },
          "CmpAccount": {
            "type": "string",
            "description": "Id of releated internal SCMP account"
          },
          "EffectiveCost": {
            "type": "number",
            "format": "double",
            "description": "Client cost"
          },
          "Provider": {
            "type": "string",
            "description": "Cloud provider"
          },
          "SubAccount": {
            "type": "string",
            "description": "Billing sub account releated to cost"
          }
        }
      },
      "FinOpsCostClientTimeSerie": {
        "type": "object",
        "properties": {
          "BillingAccount": {
            "type": "string",
            "description": "Billing account releated to cost"
          },
          "BillingDepartment": {
            "type": "string",
            "description": "Billing department releated to cost"
          },
          "ChargePeriodEnd": {
            "type": "string",
            "format": "date-time",
            "description": "End timestamp of service usage"
          },
          "CmpAccount": {
            "type": "string",
            "description": "Id of releated internal SCMP account"
          },
          "EffectiveCost": {
            "type": "number",
            "format": "double",
            "description": "Client cost"
          },
          "Provider": {
            "type": "string",
            "description": "Cloud provider"
          },
          "SubAccount": {
            "type": "string",
            "description": "Billing sub account releated to cost"
          }
        }
      },
      "FinOpsCostForecast": {
        "type": "object",
        "properties": {
          "AgreedBillingCost": {
            "type": "number",
            "format": "double",
            "description": "Agreed billing account provider cost"
          },
          "BilledCost": {
            "type": "number",
            "format": "double",
            "description": "Billing account provider cost"
          },
          "BilledUSDCost": {
            "type": "number",
            "format": "double",
            "description": "Billing account provider cost in dollar (USD)"
          },
          "BillingAccount": {
            "type": "string",
            "description": "Billing account releated to cost"
          },
          "BillingDepartment": {
            "type": "string",
            "description": "Billing department releated to cost"
          },
          "ChargePeriodEnd": {
            "type": "string",
            "format": "date-time",
            "description": "End timestamp of service usage"
          },
          "CmpAccount": {
            "type": "string",
            "description": "Id of releated internal SCMP account"
          },
          "EffectiveCost": {
            "type": "number",
            "format": "double",
            "description": "Client cost"
          },
          "ForecastAgreedBillingCost": {
            "type": "number",
            "format": "double",
            "description": "Agreed billing account provider forecast cost"
          },
          "ForecastBilledCost": {
            "type": "number",
            "format": "double",
            "description": "Billing account provider forecast cost"
          },
          "ForecastBilledUSDCost": {
            "type": "number",
            "format": "double",
            "description": "Billing account provider forecast cost in dollar (USD)"
          },
          "ForecastEffectiveCost": {
            "type": "number",
            "format": "double",
            "description": "Client fprecast cost"
          },
          "Provider": {
            "type": "string",
            "description": "Cloud provider"
          },
          "SubAccount": {
            "type": "string",
            "description": "Billing sub account releated to cost"
          }
        }
      },
      "FinOpsCostClientForecast": {
        "type": "object",
        "properties": {
          "BillingAccount": {
            "type": "string",
            "description": "Billing account releated to cost"
          },
          "BillingDepartment": {
            "type": "string",
            "description": "Billing department releated to cost"
          },
          "ChargePeriodEnd": {
            "type": "string",
            "format": "date-time",
            "description": "End timestamp of service usage"
          },
          "CmpAccount": {
            "type": "string",
            "description": "Id of releated internal SCMP account"
          },
          "EffectiveCost": {
            "type": "number",
            "format": "double",
            "description": "Client cost"
          },
          "ForecastEffectiveCost": {
            "type": "number",
            "format": "double",
            "description": "Client fprecast cost"
          },
          "Provider": {
            "type": "string",
            "description": "Cloud provider"
          },
          "SubAccount": {
            "type": "string",
            "description": "Billing sub account releated to cost"
          }
        }
      },
      "ReletedResourcesUsageBean": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string",
            "description": "Type of resource releated to usage"
          },
          "resourceUuid": {
            "type": "string",
            "description": "Uuid of resource releated to usage"
          },
          "resourceName": {
            "type": "string",
            "description": "Name of resource releated to usage"
          },
          "unitProvider": {
            "type": "string",
            "description": "Provider usage unit of measure"
          },
          "usageProvider": {
            "type": "number",
            "format": "double",
            "description": "Quantity used from provider resource or service"
          },
          "systemUuid": {
            "type": "string",
            "description": "Unique if of releated internal SCMP account"
          },
          "systemName": {
            "type": "string",
            "description": "Name of releated internal SCMP account"
          }
        }
      },
      "ResourceUsageSummaryv2Bean": {
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "description": "Billing account id releated to usage"
          },
          "catalogueCodeProvider": {
            "type": "string",
            "description": "Unique code to identify provider sku"
          },
          "catalogueCodeCMP": {
            "type": "string",
            "description": "Unique code to identify SCMP sku releated to provider sku"
          },
          "resourceUuid": {
            "type": "string",
            "description": "Uuid of resource releated to usage"
          },
          "resourceName": {
            "type": "string",
            "description": "Name of resource releated to usage"
          },
          "nameProvider": {
            "type": "string",
            "description": "Name of provider sku releated to usage"
          },
          "nameCMP": {
            "type": "string",
            "description": "Name of SCMP sku releated to usage"
          },
          "unitProvider": {
            "type": "string",
            "description": "Unit of measure of provider sku"
          },
          "unitCMP": {
            "type": "string",
            "description": "Unit of measure of releated SCMP sku"
          },
          "usageProvider": {
            "type": "number",
            "format": "double",
            "description": "Usage amount of provider sku"
          },
          "usageCMP": {
            "type": "number",
            "format": "double",
            "description": "Usage amount of releated SCMP sku"
          },
          "costProvider": {
            "type": "number",
            "format": "double",
            "description": "Cost amount of provider sku"
          },
          "costProviderUSD": {
            "type": "number",
            "format": "double",
            "description": "Cost amount in dollar (USD) of provider sku"
          },
          "costCMP": {
            "type": "number",
            "format": "double",
            "description": "Cost amount of releated SCMP sku"
          },
          "totalcostProvider": {
            "type": "number",
            "format": "double",
            "description": "Total cost amount of provider sku"
          },
          "totalcostProviderUSD": {
            "type": "number",
            "format": "double",
            "description": "Total cost amount in dollar (USD) of provider sku"
          },
          "totalcostCMP": {
            "type": "number",
            "format": "double",
            "description": "Total cost amount of releated SCMP sku"
          },
          "odl": {
            "type": "string",
            "description": "order of work or TGU releated to usage"
          },
          "systemUuid": {
            "type": "string",
            "description": "Unique if of releated internal SCMP account"
          },
          "systemName": {
            "type": "string",
            "description": "Name of releated internal SCMP account"
          },
          "reletedResources": {
            "type": "array",
            "description": "List of resources releated to same sku",
            "items": {
              "$ref": "#/components/schemas/ReletedResourcesUsageBean"
            }
          },
          "discoveryType": {
            "type": "string",
            "description": "Discovery type on connection between provider sku and SCMP sku",
            "enum": [
              "NOT_FOUND_ON_INVENTORY",
              "NOT_FOUND_ON_CATALOGUE",
              "FOUND",
              "FOUND_BUT_NOT_PRICE_DEFINED",
              "NO_ITEM_FOUND_ON_CATALOGUE"
            ]
          },
          "date": {
            "type": "string",
            "description": "Usage timestamp",
            "format": "date"
          }
        }
      }
    }
  }
}