{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://www.movincloud.com:8000","description":"Generated server url"}],"paths":{"/security/policy/assessments":{"get":{"tags":["security-controller"],"summary":"Get assessments using policy uuid","operationId":"findByPolicy","parameters":[{"name":"policyUuid","in":"query","required":true,"schema":{"type":"string"}},{"name":"systemUuid","in":"query","required":true,"schema":{"type":"string"}},{"name":"severity","in":"query","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssessmentEntity"}}}}}}}},"/security/compliance/resources":{"get":{"tags":["security-controller"],"summary":"Get list of Resource IDs by Policy Assignment ID and Policy Definition ID","operationId":"getResourceIdsByPolicyAssignmentAndDefinitionId","parameters":[{"name":"policyDefinitionId","in":"query","required":true,"schema":{"type":"string"}},{"name":"policyAssignmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"systemUuid","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}}}}}}}},"/security/compliance/providers":{"get":{"tags":["security-controller"],"summary":"Get a list of Compliance State for a specified system uuid","operationId":"findComplianceByProviderUuid","parameters":[{"name":"systemUuid","in":"query","required":true,"schema":{"type":"string"}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/security/compliance/providers/list":{"get":{"tags":["security-controller"],"summary":"Get a list of providers having Compliance State","operationId":"findProvidersWithCompliances","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ComponentDetail"}}}}}}}},"/security/compliance/minimal/graphResource":{"get":{"tags":["security-controller"],"summary":"Get a list of SystemUuid and unique Resource's Compliance State","operationId":"getPolicyGraph","parameters":[{"name":"textRegex","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}}}}}}},"/security/compliance/minimal/graphPolicy":{"get":{"tags":["security-controller"],"summary":"Get Total and NonCompliant Policies per System and Global Count","operationId":"getPolicyComplianceMetrics","parameters":[{"name":"textRegex","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}}}}}}},"/security/compliance/minimal/{tag}":{"get":{"tags":["security-controller"],"summary":"Get a list of compliance","operationId":"findComplianceByDynamicFilters","parameters":[{"name":"tag","in":"path","required":true,"schema":{"type":"string"}},{"name":"systemType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"systemUuid","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"complianceState","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"resourceSubType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"policyAssignmentId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"textRegex","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/security/compliance/minimal":{"get":{"tags":["security-controller"],"summary":"Get a list of compliance","operationId":"findComplianceByDynamicFilters_1","parameters":[{"name":"systemType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"systemUuid","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"complianceState","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"resourceSubType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"policyAssignmentId","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"textRegex","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/security/compliance/assignment":{"get":{"tags":["security-controller"],"summary":"Get a list of Assignments","operationId":"findAssignmentByDynamicFilters","parameters":[{"name":"systemType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"systemUuid","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"complianceState","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"resourceSubType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"textRegex","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/security/compliance/assignment/{tag}":{"get":{"tags":["security-controller"],"summary":"Get a list of Assignments","operationId":"findAssignmentByDynamicFilters_1","parameters":[{"name":"tag","in":"path","required":true,"schema":{"type":"string"}},{"name":"systemType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"systemUuid","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"complianceState","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"resourceSubType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"textRegex","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/security/assessments":{"get":{"tags":["security-controller"],"summary":"Get a list of assessments","operationId":"findAll","parameters":[{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/security/assessments/status/{resourceStatus}":{"get":{"tags":["security-controller"],"summary":"Get a list of assessments for a specified status","operationId":"findByStatus","parameters":[{"name":"resourceStatus","in":"path","required":true,"schema":{"type":"string"}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/security/assessments/resources/types/{resourceType}":{"get":{"tags":["security-controller"],"summary":"Get a list of assessments for specified type of resources","operationId":"findAssessmentsByType","parameters":[{"name":"resourceType","in":"path","required":true,"schema":{"type":"string"}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/security/assessments/resources/types/{resourceType}/{resourceSubType}":{"get":{"tags":["security-controller"],"summary":"Get a list of assessments for specified type of resources","operationId":"findAssessmentsByType_1","parameters":[{"name":"resourceType","in":"path","required":true,"schema":{"type":"string"}},{"name":"resourceSubType","in":"path","required":true,"schema":{"type":"string"}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/security/assessments/providers":{"get":{"tags":["security-controller"],"summary":"Get a list of assessments for a specified system uuid","operationId":"findAssessmentsByProviderUuid","parameters":[{"name":"systemUuid","in":"query","required":true,"schema":{"type":"string"}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/security/assessments/providers/types/{systemType}":{"get":{"tags":["security-controller"],"summary":"Get a list of assessments for a specified provider","operationId":"findAssessmentsByProvider","parameters":[{"name":"systemType","in":"path","required":true,"schema":{"type":"string"}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/security/assessments/providers/list":{"get":{"tags":["security-controller"],"summary":"Get a list of providers having assessments","operationId":"findProvidersWithAssessments","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ComponentDetail"}}}}}}}},"/security/assessments/minimal/graph":{"get":{"tags":["security-controller"],"summary":"Get a list of assessments","operationId":"aggregateAssessmentsByDynamicFilters","parameters":[{"name":"resourceType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"resourceSubType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"systemType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"systemUuid","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}}}}}},"/security/assessments/minimal/graphV2":{"get":{"tags":["security-controller"],"summary":"Get a list of assessments","operationId":"aggregateAssessmentsByTenant","parameters":[{"name":"resourceType","in":"query","required":false,"schema":{"type":"string"}},{"name":"resourceSubType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{}}}}}}}}},"/security/assessments/minimal":{"get":{"tags":["security-controller"],"summary":"Get a list of assessments","operationId":"findAssessmentsByDynamicFilters","parameters":[{"name":"systemType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"systemUuid","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceStatuses","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"resourceSubType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"textRegex","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/security/assessments/minimal/{tag}":{"get":{"tags":["security-controller"],"summary":"Get a list of assessments","operationId":"findAssessmentsByDynamicFilters_1","parameters":[{"name":"tag","in":"path","required":true,"schema":{"type":"string"}},{"name":"systemType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"systemUuid","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceStatuses","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"resourceType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"resourceSubType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"textRegex","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/security/assessments/main-summary":{"get":{"tags":["security-controller"],"summary":"Security main dashboard","operationId":"summary","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GenericAssessmentStats"}}}}}}}},"/security/assessments/get":{"get":{"tags":["security-controller"],"summary":"Get assessment using its uuid","operationId":"findById","parameters":[{"name":"uuid","in":"query","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AssessmentEntity"}}}}}}},"/security/alertRules":{"get":{"tags":["security-controller"],"summary":"Get a list of alert rules by system uuid","operationId":"findAlertRulesByProvider","parameters":[{"name":"systemUuid","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"textRegex","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"namespace","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/security/alertRules/providers":{"get":{"tags":["security-controller"],"summary":"Get a list of providers having alert rules","operationId":"findProvidersWithAlertRules","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ComponentDetail"}}}}}}}},"/security/alertRules/namespaces":{"get":{"tags":["security-controller"],"summary":"Get a list of namespaces having alert rules by system uuid","operationId":"findNamespacesWithAlertRulesByProvider","parameters":[{"name":"systemUuid","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/security/alertRules/graphAlert":{"get":{"tags":["security-controller"],"summary":"Get Graph","operationId":"aggregateAlertsByTenant","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{}}}}}}}}},"/security/alertRules/get":{"get":{"tags":["security-controller"],"summary":"Get an alert rule using its uuid","operationId":"findAlertRuleByUuid","parameters":[{"name":"uuid","in":"query","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AlertRule"}}}}}}},"/security/{systemUuid}":{"delete":{"tags":["security-controller"],"summary":"Delete assessments by system uuid","operationId":"deleteBySystemUuid","parameters":[{"name":"systemUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"}}},"AssessmentDetails":{"type":"object","properties":{"severity":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"categoryList":{"type":"array","items":{"type":"string"}},"threatList":{"type":"array","items":{"type":"string"}},"userImpact":{"type":"string"},"implementationEffort":{"type":"string"},"policyUuid":{"type":"string"}}},"AssessmentEntity":{"type":"object","properties":{"id":{"type":"string"},"uuid":{"type":"string"},"resourceStatus":{"type":"string"},"systemUuid":{"type":"string"},"subscriptionId":{"type":"string"},"resourceUuid":{"type":"string"},"resourceType":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE"]},"resourceSubType":{"type":"string","enum":["APPLICATIONGATEWAY","CDNFRONTDOOR","LOADBALANCER","LOCALNETWORKGATEWAY","NETWORKINTERFACE","NETWORKSECURITYGROUP","PUBLICIP","VIRTUALNETWORK","VIRTUALNETWORKGATEWAY","CONNECTION","APPLICATIONSECURITYGROUP","WEBAPPLICATIONFIREWALL","BASTION","FIREWALL","FIREWALLPOLICY"]},"systemType":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]},"count":{"type":"integer","format":"int64"},"details":{"$ref":"#/components/schemas/AssessmentDetails"}}},"PagedListDTO":{"type":"object","properties":{"resources":{},"total":{"type":"integer","format":"int64"}}},"ComponentDetail":{"type":"object","properties":{"id":{"type":"string"},"uuid":{"type":"string"},"name":{"type":"string"},"systemName":{"type":"string"},"systemType":{"type":"string"},"systemSubType":{"type":"string"}}},"GenericAssessmentStats":{"type":"object","properties":{"systemType":{"type":"string"},"resourceStatus":{"type":"string"},"count":{"type":"integer","format":"int32"}}},"AlertRule":{"type":"object","properties":{"uuid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"state":{"type":"string"},"source":{"type":"string"},"severity":{"type":"string"},"namespace":{"type":"string"},"systemUuid":{"type":"string"},"systemType":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]},"activeFrom":{"type":"string","format":"date-time"}}}}}}