{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://www.movincloud.com:8000","description":"Generated server url"}],"paths":{"/metricsstats/specific-summary":{"post":{"tags":["metrics-statistics-controller"],"summary":"Get a list of metric statistics dashboards","operationId":"specificSummary","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestMetricStatsBean"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SpecificMetricStats"}}}}}}}},"/metricsstats/quotas-summary":{"post":{"tags":["metrics-statistics-controller"],"summary":"Get a table of quota statistics","operationId":"quotasSummary","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestMetricStatsBean"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/QuotaMetricStats"}}}}}}}},"/alerting/quotas":{"get":{"tags":["alerting-quotas-controller"],"summary":"Gets all quota alerting settings","operationId":"findAll","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/QuotaAlertConfiguration"}}}}}}},"post":{"tags":["alerting-quotas-controller"],"summary":"Upserts a quota alerting setting","operationId":"upsert","parameters":[{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuotaAlertConfiguration"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"}}}},"/quotas/{service}/timeseries/{odl}":{"get":{"tags":["metric-quotas-controller"],"summary":"Gets quota timeseries by filters","operationId":"timeseries","parameters":[{"name":"service","in":"path","required":true,"schema":{"type":"string"}},{"name":"odl","in":"path","required":true,"schema":{"type":"string"}},{"name":"dateFrom","in":"query","description":"Start date of quota data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of quota data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"systemTypes","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemUuids","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MetricQuotasSummary"}}}}}}}},"/quotas/{service}/timeseries":{"get":{"tags":["metric-quotas-controller"],"summary":"Gets quota timeseries by filters","operationId":"timeseries_1","parameters":[{"name":"service","in":"path","required":true,"schema":{"type":"string"}},{"name":"dateFrom","in":"query","description":"Start date of quota data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","description":"End date of quota data","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"systemTypes","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemUuids","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MetricQuotasSummary"}}}}}}}},"/quotas/summary":{"get":{"tags":["metric-quotas-controller"],"summary":"Gets quota summary by filters","operationId":"summary","parameters":[{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"systemTypes","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemUuids","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/quotas/summary/{odl}":{"get":{"tags":["metric-quotas-controller"],"summary":"Gets quota summary by filters","operationId":"summary_1","parameters":[{"name":"odl","in":"path","required":true,"schema":{"type":"string"}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"systemTypes","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"systemUuids","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/metricsstats/main-summary":{"get":{"tags":["metrics-statistics-controller"],"summary":"metric statistics main dashboard","operationId":"mainSummary","parameters":[{"name":"resourceType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"resourceSubType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GenericMetricStats"}}}}}}}},"/metricsstats/main-summary/{tag}":{"get":{"tags":["metrics-statistics-controller"],"summary":"metric statistics main dashboard","operationId":"mainSummary_1","parameters":[{"name":"tag","in":"path","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"resourceSubType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GenericMetricStats"}}}}}}}},"/metricsstats/dashboard":{"get":{"tags":["metrics-statistics-controller"],"summary":"Gets right monitoring dashboard","operationId":"findMonitoringDashboardPath","parameters":[{"name":"resourceType","in":"query","required":false,"schema":{"type":"string"}},{"name":"isMainSummary","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"app-lang","in":"header","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/metricsstats/dashboard-summaries":{"get":{"tags":["metrics-statistics-controller"],"summary":"metric statistics dashboard summaries","operationId":"dashboardSummaries","parameters":[{"name":"resourceType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"resourceSubType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GenericMetricStats"}}}}}}}},"/metricsstats/dashboard-summaries/{tag}":{"get":{"tags":["metrics-statistics-controller"],"summary":"metric statistics dashboard summaries","operationId":"dashboardSummaries_1","parameters":[{"name":"tag","in":"path","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"resourceSubType","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GenericMetricStats"}}}}}}}},"/metrics":{"get":{"tags":["metrics-controller"],"summary":"Get a list of metrics","operationId":"findAll_1","parameters":[{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MetricEntity"}}}}}}}},"/metrics/types/{type}/{subType}":{"get":{"tags":["metrics-controller"],"summary":"Get a list of metrics for specified type of resources","operationId":"findMetricsByType","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"subType","in":"path","required":true,"schema":{"type":"string"}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MetricEntity"}}}}}}}},"/metrics/types/{type}":{"get":{"tags":["metrics-controller"],"summary":"Get a list of metrics for specified type of resources","operationId":"findMetricsByType_1","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MetricEntity"}}}}}}}},"/metrics/systems/{systemUuid}/{type}":{"get":{"tags":["metrics-controller"],"summary":"Get a list of metrics for a specified system uuid and resource type","operationId":"findMetricsBySystemUuidAndType","parameters":[{"name":"systemUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MetricEntity"}}}}}}}},"/metrics/systems/{systemUuid}/{type}/{subType}":{"get":{"tags":["metrics-controller"],"summary":"Get a list of metrics for a specified system uuid and resource type","operationId":"findMetricsBySystemUuidAndType_1","parameters":[{"name":"systemUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"subType","in":"path","required":true,"schema":{"type":"string"}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MetricEntity"}}}}}}}},"/metrics/resources":{"get":{"tags":["metrics-controller"],"summary":"Get metrics of a specified resource using its uuid","operationId":"findById","parameters":[{"name":"resourceUuid","in":"query","required":true,"schema":{"type":"string"}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MetricEntity"}}}}}}}},"/metrics/resources/names":{"get":{"tags":["metrics-controller"],"summary":"Get a list of resource names by providers, sub-systems and tags by type","operationId":"findResourceNames","parameters":[{"name":"dateFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE"]}},{"name":"subType","in":"query","required":false,"schema":{"type":"string","enum":["APPLICATIONGATEWAY","CDNFRONTDOOR","LOADBALANCER","LOCALNETWORKGATEWAY","NETWORKINTERFACE","NETWORKSECURITYGROUP","PUBLICIP","VIRTUALNETWORK","VIRTUALNETWORKGATEWAY","CONNECTION","APPLICATIONSECURITYGROUP","WEBAPPLICATIONFIREWALL","BASTION","FIREWALL","FIREWALLPOLICY"]}},{"name":"systemTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"systemUuids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"tags","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"namespaces","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ComponentDetail"}}}}}}}},"/metrics/providers":{"get":{"tags":["metrics-controller"],"summary":"Get a list of provider types bond to metrics on optional resource type and tags","operationId":"findProviderTypes","parameters":[{"name":"dateFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE"]}},{"name":"subType","in":"query","required":false,"schema":{"type":"string","enum":["APPLICATIONGATEWAY","CDNFRONTDOOR","LOADBALANCER","LOCALNETWORKGATEWAY","NETWORKINTERFACE","NETWORKSECURITYGROUP","PUBLICIP","VIRTUALNETWORK","VIRTUALNETWORKGATEWAY","CONNECTION","APPLICATIONSECURITYGROUP","WEBAPPLICATIONFIREWALL","BASTION","FIREWALL","FIREWALLPOLICY"]}},{"name":"tags","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/metrics/providers/{type}":{"get":{"tags":["metrics-controller"],"summary":"Get a list of metrics for a specified provider","operationId":"findMetricsByProvider","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MetricEntity"}}}}}}}},"/metrics/providers/names":{"get":{"tags":["metrics-controller"],"summary":"Get a list of sub-system names for a specified providers and tags","operationId":"findSystemNamesByProvidersAndTags","parameters":[{"name":"dateFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE"]}},{"name":"subType","in":"query","required":false,"schema":{"type":"string","enum":["APPLICATIONGATEWAY","CDNFRONTDOOR","LOADBALANCER","LOCALNETWORKGATEWAY","NETWORKINTERFACE","NETWORKSECURITYGROUP","PUBLICIP","VIRTUALNETWORK","VIRTUALNETWORKGATEWAY","CONNECTION","APPLICATIONSECURITYGROUP","WEBAPPLICATIONFIREWALL","BASTION","FIREWALL","FIREWALLPOLICY"]}},{"name":"tags","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"systemTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ComponentDetail"}}}}}}}},"/metrics/namespaces":{"get":{"tags":["metrics-controller"],"summary":"Get a list of namespace names with metrics, by cluster uuid","operationId":"findMonitoredNamespaces","parameters":[{"name":"dateFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"systemUuid","in":"query","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ComponentDetail"}}}}}}}},"/metrics/names/{type}":{"get":{"tags":["metrics-controller"],"summary":"Get a list of metric names by resource type","operationId":"findMetricsNames","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/metrics/names/{type}/{subType}":{"get":{"tags":["metrics-controller"],"summary":"Get a list of metric names by resource type","operationId":"findMetricsNames_1","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"subType","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/metrics/granularities":{"get":{"tags":["metrics-controller"],"summary":"Get all possible granularities of the specified date range","operationId":"findPossibleGranularities","parameters":[{"name":"dateFrom","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"dateTo","in":"query","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","enum":["ONEMINUTE","FIVEMINUTES","FIFTEENMINUTES","THIRTYMINUTES","ONEHOUR","SIXHOURS","ONEDAY","ONEWEEK"]}}}}}}}},"/alerting/types":{"get":{"tags":["alerting-quotas-controller"],"summary":"Gets alerting setting types","operationId":"findAllTypes","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/alerting/quotas/{uuid}":{"get":{"tags":["alerting-quotas-controller"],"summary":"Gets a quota alerting setting","operationId":"findOne","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuotaAlertConfiguration"}}}}}},"delete":{"tags":["alerting-quotas-controller"],"summary":"Deletes an alerting setting","operationId":"delete","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"}}}},"/alerting/quotas/{uuid}/send":{"get":{"tags":["alerting-quotas-controller"],"summary":"Sends a quota alert setting directly, without scheduling","operationId":"sendAlert","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"}}}},"/alerting/quotas/{uuid}/schedule":{"get":{"tags":["alerting-quotas-controller"],"summary":"Schedules a quota alerting setting","operationId":"schedule","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"}}}},"/alerting/quotas/{uuid}/schedule/history":{"get":{"tags":["alerting-quotas-controller"],"summary":"Gets the schedule history of a specific quota alerting setting","operationId":"scheduleHistory","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedListDTO"}}}}}}},"/alerting/cronTabs":{"get":{"tags":["alerting-quotas-controller"],"summary":"Gets available cron tabs","operationId":"scheduleCronTabs","parameters":[{"name":"app-lang","in":"header","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"type":"string"}}}}}}}}},"/metricsstats":{"delete":{"tags":["metrics-statistics-controller"],"summary":"delete timeseries by system uuid","operationId":"deleteTimeseries","parameters":[{"name":"systemUuid","in":"query","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"}}}},"/metricsstats/{systemUuid}":{"delete":{"tags":["metrics-statistics-controller"],"summary":"Delete monitoring data by system uuid","operationId":"deleteMonitoringBySystemUuid","parameters":[{"name":"systemUuid","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant","in":"header","required":false,"schema":{"type":"string","default":"resources"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK"}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"}}},"RequestMetricStatsBean":{"type":"object","properties":{"dateFrom":{"type":"string","format":"date-time"},"dateTo":{"type":"string","format":"date-time"},"granularity":{"type":"string","enum":["ONEMINUTE","FIVEMINUTES","FIFTEENMINUTES","THIRTYMINUTES","ONEHOUR","SIXHOURS","ONEDAY","ONEWEEK"]},"metricName":{"type":"string"},"uuid":{"type":"array","items":{"type":"string"}}}},"SpecificMetricStats":{"type":"object","properties":{"uuid":{"type":"string"},"metricName":{"type":"string"},"resourceName":{"type":"string"},"provider":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]},"unit":{"type":"string"},"timeseries":{"type":"array","items":{"$ref":"#/components/schemas/TimeSerie"}}}},"TimeSerie":{"type":"object","properties":{"timestamp":{"type":"string"},"average":{"type":"number","format":"double"}}},"QuotaMetricStats":{"type":"object","properties":{"uuid":{"type":"string"},"metricName":{"type":"string"},"resourceName":{"type":"string"},"resourceUsage":{"type":"number","format":"double"},"resourceRequest":{"type":"number","format":"double"},"resourceRequestPercent":{"type":"number","format":"double"},"resourceLimit":{"type":"number","format":"double"},"resourceLimitPercent":{"type":"number","format":"double"}}},"QuotaAlertConfiguration":{"type":"object","properties":{"uuid":{"type":"string"},"creationDate":{"type":"string","format":"date-time"},"tenantID":{"type":"string"},"schedule":{"type":"string"},"alertType":{"type":"string","enum":["QUOTA"]},"alertSendType":{"type":"string"},"alertSendFormat":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"systemUuids":{"type":"array","items":{"type":"string"}},"quotaType":{"type":"string"},"threshold":{"type":"integer","format":"int32"},"status":{"type":"string"},"lastScheduleDate":{"type":"string","format":"date-time"},"firstScheduleDate":{"type":"string","format":"date-time"},"endScheduleDate":{"type":"string","format":"date-time"}}},"MetricQuotaConsumption":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"},"service":{"type":"string"},"unit":{"type":"string"},"limit":{"type":"number","format":"double"},"used":{"type":"number","format":"double"}}},"MetricQuotasSummary":{"type":"object","properties":{"systemUuid":{"type":"string"},"systemName":{"type":"string"},"tenancy":{"type":"string"},"odl":{"type":"string"},"consumption":{"type":"array","items":{"$ref":"#/components/schemas/MetricQuotaConsumption"}}}},"PagedListDTO":{"type":"object","properties":{"resources":{},"total":{"type":"integer","format":"int64"}}},"GenericMetricStats":{"type":"object","properties":{"metricName":{"type":"string"},"unit":{"type":"string"},"type":{"type":"string"},"subType":{"type":"string"},"values":{"type":"array","items":{"$ref":"#/components/schemas/MetricValue"}}}},"MetricValue":{"type":"object","properties":{"systemType":{"type":"string"},"avg":{"type":"number","format":"double"}}},"MetricDetails":{"type":"object","properties":{"uuid":{"type":"string"},"name":{"type":"string"},"displayDescription":{"type":"string"},"unitOfMeasure":{"type":"string"},"timeseries":{"type":"array","items":{"$ref":"#/components/schemas/TimeSerie"}},"hourlyAVG":{"type":"number","format":"double"},"aggregationName":{"type":"string"}}},"MetricEntity":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ObjectId","writeOnly":true},"uuid":{"type":"string"},"resourceUuid":{"type":"string"},"cost":{"type":"integer","format":"int32"},"value":{"type":"array","items":{"$ref":"#/components/schemas/MetricDetails"}},"type":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE"]},"subType":{"type":"string","enum":["APPLICATIONGATEWAY","CDNFRONTDOOR","LOADBALANCER","LOCALNETWORKGATEWAY","NETWORKINTERFACE","NETWORKSECURITYGROUP","PUBLICIP","VIRTUALNETWORK","VIRTUALNETWORKGATEWAY","CONNECTION","APPLICATIONSECURITYGROUP","WEBAPPLICATIONFIREWALL","BASTION","FIREWALL","FIREWALLPOLICY"]},"systemType":{"type":"string","enum":["Azure","VMWare","CMP","Google","AzureStack","AzureStackHCI","OpenShift","AmazonWebServices","AzureStackHybridCloud","Oracle","VCloudDirector","Kubernetes","OracleExAcc","RedHatEdge"]},"systemUuid":{"type":"string"},"creationDate":{"type":"string","format":"date-time"},"dateFrom":{"type":"string","format":"date-time"},"dateTo":{"type":"string","format":"date-time"},"timegrain":{"type":"string","enum":["PT1M","PT5M","PT15M","PT30M","PT1H"]},"resourceName":{"type":"string"},"objectId":{"$ref":"#/components/schemas/ObjectId"}}},"ObjectId":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int32"},"date":{"type":"string","format":"date-time"}}},"ComponentDetail":{"type":"object","properties":{"id":{"type":"string"},"uuid":{"type":"string"},"name":{"type":"string"},"systemName":{"type":"string"},"systemType":{"type":"string"},"systemSubType":{"type":"string"}}}}}}