{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://www.movincloud.com:8000","description":"Generated server url"}],"paths":{"/taxonomies/{id}":{"get":{"tags":["taxonomy-controller"],"summary":"Get a taxonomy by its unique id","operationId":"getTaxonomyById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorResponse"},{"type":"object","additionalProperties":{"type":"string"}}]}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Taxonomy"}}}}}}},"/taxonomies/type/{type}":{"get":{"tags":["taxonomy-controller"],"summary":"Get a list of taxonomies by type","operationId":"getTaxonomyByTypeScopeAndSystem","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE"]}},{"name":"scope","in":"query","required":false,"schema":{"type":"string"}},{"name":"systemType","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorResponse"},{"type":"object","additionalProperties":{"type":"string"}}]}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Taxonomy"}}}}}}}},"/taxonomies/names/{name}":{"get":{"tags":["taxonomy-controller"],"summary":"Get a taxonomy by name and/or version","operationId":"getTaxonomyByNameAndVersion","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseVersion","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"version","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorResponse"},{"type":"object","additionalProperties":{"type":"string"}}]}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Taxonomy"}}}}}}},"/taxonomies/minimal":{"get":{"tags":["taxonomy-controller"],"summary":"Get a reduced set of information of all taxonomies","operationId":"getAllMinimalTaxonomies","parameters":[{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE"]}},{"name":"systemType","in":"query","required":false,"schema":{"type":"string"}},{"name":"scope","in":"query","required":false,"schema":{"type":"string"}},{"name":"taxonomyNames","in":"query","required":false,"schema":{"type":"array","default":[],"items":{"type":"string"}}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorResponse"},{"type":"object","additionalProperties":{"type":"string"}}]}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedList"}}}}}}},"/taxonomies/minimalPaginated":{"get":{"tags":["taxonomy-controller"],"summary":"Get a reduced set of information of all taxonomies","operationId":"getAllMinimalTaxonomiesSortByName","parameters":[{"name":"items","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE"]}},{"name":"systemType","in":"query","required":false,"schema":{"type":"string"}},{"name":"scope","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorResponse"},{"type":"object","additionalProperties":{"type":"string"}}]}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedList"}}}}}}},"/properties":{"get":{"tags":["properties-controller"],"summary":"Get a complete list of properties","operationId":"getAll","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorResponse"},{"type":"object","additionalProperties":{"type":"string"}}]}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TaxonomyProperty"}}}}}}}},"/properties/{id}":{"get":{"tags":["properties-controller"],"summary":"Get a property by its unique id","operationId":"findPropertyById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorResponse"},{"type":"object","additionalProperties":{"type":"string"}}]}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TaxonomyProperty"}}}}}},"delete":{"tags":["properties-controller"],"summary":"Delete a property using its id","operationId":"deleteProperty","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorResponse"},{"type":"object","additionalProperties":{"type":"string"}}]}}}},"200":{"description":"OK"}}}},"/properties/name/{name}":{"get":{"tags":["properties-controller"],"summary":"Get a property by its name","operationId":"findPropertyByName","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorResponse"},{"type":"object","additionalProperties":{"type":"string"}}]}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TaxonomyProperty"}}}}}}}},"/properties/exportAll":{"get":{"tags":["properties-controller"],"summary":"Get a complete export of properties","operationId":"exportAllProperties","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorResponse"},{"type":"object","additionalProperties":{"type":"string"}}]}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/properties/all":{"get":{"tags":["properties-controller"],"summary":"Get a complete list of properties","operationId":"getAllProperty","responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ErrorResponse"},{"type":"object","additionalProperties":{"type":"string"}}]}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TaxonomyProperty"}}}}}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"errorCode":{"type":"string"},"message":{"type":"string"}}},"AllowedType":{"type":"object","properties":{"type":{"type":"string"},"rulesGroups":{"type":"array","items":{"$ref":"#/components/schemas/AllowedTypeRulesGroup"},"uniqueItems":true}}},"AllowedTypeRule":{"type":"object","properties":{"key":{"type":"string"},"operator":{"type":"string"},"value":{"type":"string"}}},"AllowedTypeRulesGroup":{"type":"object","properties":{"operator":{"type":"string"},"rules":{"type":"array","items":{"$ref":"#/components/schemas/AllowedTypeRule"},"uniqueItems":true}}},"Config":{"type":"object","properties":{"description":{"type":"string"},"mandatory":{"type":"boolean"},"type":{"type":"string"}}},"NestedConfig":{"type":"object","properties":{"description":{"type":"string"},"mandatory":{"type":"boolean"},"allowedTypes":{"type":"array","items":{"$ref":"#/components/schemas/AllowedType"},"uniqueItems":true},"minQuantity":{"type":"integer","format":"int32"},"maxQuantity":{"type":"integer","format":"int32"},"name":{"type":"string"},"relationType":{"type":"string","enum":["CHILD","PARENT","ASSIGNED","ASSIGNEE","INSTANCE","INSTANCEOF"]}}},"NestedTaxonomy":{"type":"object","properties":{"role":{"type":"string"},"config":{"$ref":"#/components/schemas/NestedConfig"},"nestedId":{"type":"integer","format":"int64"}}},"Taxonomy":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"label":{"type":"string"},"version":{"type":"integer","format":"int64"},"releaseVersion":{"type":"integer","format":"int64"},"creationDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"published":{"type":"boolean"},"urlPhoto":{"type":"string"},"scope":{"type":"string"},"type":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE"]},"subType":{"type":"string","enum":["APPLICATIONGATEWAY","CDNFRONTDOOR","LOADBALANCER","LOCALNETWORKGATEWAY","NETWORKINTERFACE","NETWORKSECURITYGROUP","PUBLICIP","VIRTUALNETWORK","VIRTUALNETWORKGATEWAY","CONNECTION","APPLICATIONSECURITYGROUP","WEBAPPLICATIONFIREWALL","BASTION","FIREWALL","FIREWALLPOLICY"]},"propertiesList":{"type":"array","items":{"$ref":"#/components/schemas/TaxonomyProperty"},"uniqueItems":true},"importantPropertiesList":{"type":"array","items":{"$ref":"#/components/schemas/TaxonomyProperty"},"uniqueItems":true},"taxonomies":{"type":"array","items":{"$ref":"#/components/schemas/NestedTaxonomy"}},"systemType":{"type":"string"},"id":{"type":"string"}}},"TaxonomyProperty":{"type":"object","properties":{"name":{"type":"string"},"config":{"$ref":"#/components/schemas/Config"},"scope":{"type":"string"},"id":{"type":"integer","format":"int64"}}},"PagedList":{"type":"object","properties":{"taxonomies":{"type":"array","items":{"$ref":"#/components/schemas/TaxonomyMinimal"}},"total":{"type":"integer","format":"int64"}}},"TaxonomyMinimal":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"releaseVersion":{"type":"integer","format":"int64"},"version":{"type":"integer","format":"int64"},"creationDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"published":{"type":"boolean"},"scope":{"type":"string"},"type":{"type":"string","enum":["VM","STORAGE","NETWORK","INTERFACE","SERVICE","BLUEPRINT","K8S","RESOURCEGROUP","POOLPROFILE","SUBNET","PUBLICIP","FIREWALLRULES","TAGS","OTHER","SECURITY","NAMESPACE","AIMODEL","AIPLATFORM","POD","DEPLOYMENT","STATEFULSET","SECRET","CONFIGMAP","PERSISTENTVOLUMECLAIM","K8SSERVICE","INGRESS","NETWORKPOLICY","PAAS","VMCONFIDENTIAL","SKU","EDGE"]},"subType":{"type":"string","enum":["APPLICATIONGATEWAY","CDNFRONTDOOR","LOADBALANCER","LOCALNETWORKGATEWAY","NETWORKINTERFACE","NETWORKSECURITYGROUP","PUBLICIP","VIRTUALNETWORK","VIRTUALNETWORKGATEWAY","CONNECTION","APPLICATIONSECURITYGROUP","WEBAPPLICATIONFIREWALL","BASTION","FIREWALL","FIREWALLPOLICY"]}}}}}}